body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 227, 227, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11883 {
  position:absolute;
  left:4px;
  top:79px;
  width:1001px;
  height:208px;
}
#u11884 {
  position:absolute;
  left:2px;
  top:96px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:172px;
}
#u11885 {
  position:absolute;
  left:4px;
  top:297px;
  width:1008px;
  height:172px;
}
#u11886 {
  position:absolute;
  left:2px;
  top:78px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:35px;
}
#u11887 {
  position:absolute;
  left:2px;
  top:77px;
  width:1008px;
  height:35px;
}
#u11888 {
  position:absolute;
  left:2px;
  top:10px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:40px;
}
#u11889 {
  position:absolute;
  left:1px;
  top:2px;
  width:1023px;
  height:40px;
}
#u11890 {
  position:absolute;
  left:2px;
  top:12px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11891 {
  position:absolute;
  left:50px;
  top:83px;
  width:143px;
  height:24px;
}
#u11892 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11893 {
  position:absolute;
  left:50px;
  top:82px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5AA0BE;
}
#u11895 {
  position:absolute;
  left:41px;
  top:5px;
  width:261px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5AA0BE;
}
#u11896 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u11897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11897 {
  position:absolute;
  left:439px;
  top:123px;
  width:240px;
  height:20px;
}
#u11898 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u11899 {
  position:absolute;
  left:527px;
  top:343px;
  width:160px;
  height:20px;
}
#u11900 {
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:21px;
}
#u11901 {
  position:absolute;
  left:36px;
  top:342px;
  width:157px;
  height:21px;
}
#u11902 {
  position:absolute;
  left:2px;
  top:2px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u11903 {
  position:absolute;
  left:302px;
  top:343px;
  width:79px;
  height:17px;
}
#u11904 {
  position:absolute;
  left:2px;
  top:0px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u11905 {
  position:absolute;
  left:118px;
  top:373px;
  width:27px;
  height:19px;
}
#u11906 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:116px;
}
#u11907 {
  position:absolute;
  left:17px;
  top:647px;
  width:1000px;
  height:116px;
}
#u11908 {
  position:absolute;
  left:2px;
  top:50px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:773px;
}
#u11909 {
  position:absolute;
  left:1023px;
  top:8px;
  width:1px;
  height:772px;
}
#u11910 {
  position:absolute;
  left:2px;
  top:378px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u11911 {
  position:absolute;
  left:0px;
  top:780px;
  width:1024px;
  height:1px;
}
#u11912 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11913 {
  position:absolute;
  left:161px;
  top:125px;
  width:59px;
  height:14px;
}
#u11914 {
  position:absolute;
  left:2px;
  top:-1px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#108613;
}
#u11915 {
  position:absolute;
  left:192px;
  top:695px;
  width:44px;
  height:16px;
  font-size:11px;
  color:#108613;
}
#u11916 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11917 {
  position:absolute;
  left:14px;
  top:331px;
  width:998px;
  height:125px;
}
#u11918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11918 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11919 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u11920 {
  position:absolute;
  left:120px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11921 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u11922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11922 {
  position:absolute;
  left:313px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11923 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u11924 {
  position:absolute;
  left:433px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11925 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u11926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11926 {
  position:absolute;
  left:603px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11927 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u11928 {
  position:absolute;
  left:723px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11929 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11930 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11931 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u11932 {
  position:absolute;
  left:120px;
  top:40px;
  width:193px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11933 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u11934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11934 {
  position:absolute;
  left:313px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11935 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u11936 {
  position:absolute;
  left:433px;
  top:40px;
  width:170px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11937 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u11938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11938 {
  position:absolute;
  left:603px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11939 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u11940 {
  position:absolute;
  left:723px;
  top:40px;
  width:270px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11941 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u11942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11942 {
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11943 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u11944 {
  position:absolute;
  left:120px;
  top:80px;
  width:193px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11945 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11946 {
  position:absolute;
  left:313px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11947 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u11948 {
  position:absolute;
  left:433px;
  top:80px;
  width:170px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11949 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u11950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11950 {
  position:absolute;
  left:603px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u11951 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u11952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u11952 {
  position:absolute;
  left:723px;
  top:80px;
  width:270px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11953 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u11954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:2px;
}
#u11954 {
  position:absolute;
  left:20px;
  top:373px;
  width:987px;
  height:1px;
}
#u11955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:2px;
}
#u11956 {
  position:absolute;
  left:17px;
  top:411px;
  width:987px;
  height:1px;
}
#u11957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:2px;
}
#u11958 {
  position:absolute;
  left:20px;
  top:451px;
  width:987px;
  height:1px;
}
#u11959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11962 {
  position:absolute;
  left:8px;
  top:112px;
  width:967px;
  height:168px;
}
#u11963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11964 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u11965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u11965 {
  position:absolute;
  left:100px;
  top:0px;
  width:370px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11966 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u11967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u11967 {
  position:absolute;
  left:470px;
  top:0px;
  width:186px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11968 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u11969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u11969 {
  position:absolute;
  left:656px;
  top:0px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u11970 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u11971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11971 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11972 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u11973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u11973 {
  position:absolute;
  left:100px;
  top:40px;
  width:370px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11974 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u11975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u11975 {
  position:absolute;
  left:470px;
  top:40px;
  width:186px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11976 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u11977 {
  position:absolute;
  left:656px;
  top:40px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11978 {
  position:absolute;
  left:2px;
  top:12px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11979 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11980 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u11981 {
  position:absolute;
  left:100px;
  top:80px;
  width:370px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u11982 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u11983 {
  position:absolute;
  left:470px;
  top:80px;
  width:186px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11984 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u11985 {
  position:absolute;
  left:656px;
  top:80px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11986 {
  position:absolute;
  left:2px;
  top:12px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u11987 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11988 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:43px;
}
#u11989 {
  position:absolute;
  left:100px;
  top:120px;
  width:370px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
  text-align:left;
}
#u11990 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:43px;
}
#u11991 {
  position:absolute;
  left:470px;
  top:120px;
  width:186px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11992 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:43px;
}
#u11993 {
  position:absolute;
  left:656px;
  top:120px;
  width:306px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11994 {
  position:absolute;
  left:2px;
  top:14px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u11995 {
  position:absolute;
  left:10px;
  top:190px;
  width:985px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:2px;
}
#u11997 {
  position:absolute;
  left:13px;
  top:152px;
  width:982px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:2px;
}
#u11999 {
  position:absolute;
  left:9px;
  top:231px;
  width:986px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:2px;
}
#u12001 {
  position:absolute;
  left:9px;
  top:275px;
  width:986px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u12003 {
  position:absolute;
  left:943px;
  top:43px;
  width:59px;
  height:29px;
}
#u12004 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u12005 {
  position:absolute;
  left:150px;
  top:123px;
  width:16px;
  height:22px;
}
#u12006 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u12007 {
  position:absolute;
  left:147px;
  top:163px;
  width:16px;
  height:22px;
}
#u12008 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u12009 {
  position:absolute;
  left:218px;
  top:163px;
  width:16px;
  height:22px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12011 {
  position:absolute;
  left:989px;
  top:8px;
  width:24px;
  height:21px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
  background:inherit;
  background-color:rgba(220, 220, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12013 {
  position:absolute;
  left:57px;
  top:662px;
  width:71px;
  height:10px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:-3px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
  background:inherit;
  background-color:rgba(220, 220, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12015 {
  position:absolute;
  left:57px;
  top:652px;
  width:71px;
  height:10px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:-3px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12017 {
  position:absolute;
  left:52px;
  top:692px;
  width:69px;
  height:19px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12019 {
  position:absolute;
  left:52px;
  top:692px;
  width:57px;
  height:16px;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12021 {
  position:absolute;
  left:57px;
  top:652px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12022 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:37px;
}
#u12023 {
  position:absolute;
  left:10px;
  top:479px;
  width:1008px;
  height:37px;
}
#u12024 {
  position:absolute;
  left:2px;
  top:10px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12025 {
  position:absolute;
  left:51px;
  top:490px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12027 {
  position:absolute;
  left:14px;
  top:517px;
  width:1007px;
  height:125px;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12028 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u12030 {
  position:absolute;
  left:78px;
  top:0px;
  width:198px;
  height:30px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:30px;
}
#u12032 {
  position:absolute;
  left:276px;
  top:0px;
  width:476px;
  height:30px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:7px;
  width:472px;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u12034 {
  position:absolute;
  left:752px;
  top:0px;
  width:250px;
  height:30px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12036 {
  position:absolute;
  left:0px;
  top:30px;
  width:78px;
  height:30px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u12038 {
  position:absolute;
  left:78px;
  top:30px;
  width:198px;
  height:30px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:30px;
}
#u12040 {
  position:absolute;
  left:276px;
  top:30px;
  width:476px;
  height:30px;
  text-align:left;
}
#u12041 {
  position:absolute;
  left:2px;
  top:7px;
  width:472px;
  word-wrap:break-word;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u12042 {
  position:absolute;
  left:752px;
  top:30px;
  width:250px;
  height:30px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12044 {
  position:absolute;
  left:0px;
  top:60px;
  width:78px;
  height:30px;
}
#u12045 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u12046 {
  position:absolute;
  left:78px;
  top:60px;
  width:198px;
  height:30px;
}
#u12047 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:30px;
}
#u12048 {
  position:absolute;
  left:276px;
  top:60px;
  width:476px;
  height:30px;
  text-align:left;
}
#u12049 {
  position:absolute;
  left:2px;
  top:7px;
  width:472px;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u12050 {
  position:absolute;
  left:752px;
  top:60px;
  width:250px;
  height:30px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12052 {
  position:absolute;
  left:0px;
  top:90px;
  width:78px;
  height:30px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u12054 {
  position:absolute;
  left:78px;
  top:90px;
  width:198px;
  height:30px;
}
#u12055 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:30px;
}
#u12056 {
  position:absolute;
  left:276px;
  top:90px;
  width:476px;
  height:30px;
  text-align:left;
}
#u12057 {
  position:absolute;
  left:2px;
  top:7px;
  width:472px;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u12058 {
  position:absolute;
  left:752px;
  top:90px;
  width:250px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u12059 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u12060 {
  position:absolute;
  left:970px;
  top:2px;
  width:31px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
