<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>单张证照详情</title>
</head>
<body>
	<div>证照详情</div>
	<table>
		<thead>
			<tr>
				<td>证件类型</td>
				<td>证件号</td>
				<td>对应范围（组团）</td>
				<td>面积（㎡）</td>
				<td>取得时间</td>
				<td>附件</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>土地成交确认书</td>
				<td>212321232</td>
				<td>a1</td>
				<td>321321</td>
				<td>2017-04-10</td>
				<td>附件1</td>
				<td><input type="button" value="编辑" id="banjiqr" /><input
					type="button" value="下载" id="xiazaiqr" /></td>
			</tr>
		</tbody>
	</table>
</body>
</html>