<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>组团详情</title>
</head>
<body>
	<div class="easyui-datagrid" title="组团详情"
		style="width: 600px; height: 450px">
		<table>
			<tr>
				<td>组团名称:</td>
				<td><input type="text" id="zutuanmingc" /></td>
			</tr>
			<tr>
				<td>所属地块名称:</td>
				<td><select id="suoshudikuainame">
					<option value="#">请选择</option>
				</select></td>
			</tr>
			<tr>
				<td>用地面积（万㎡）:</td>
				<td><input type="text" id="yongdimianjim" /></td>
			</tr>
			<tr>
				<td>用地面积（亩）:</td>
				<td><input type="text" id="yongdimianjimu" /></td>
			</tr>
			<tr>
				<td>地上建筑面积（万㎡）:</td>
				<td><input type="text" id="dishangjianzhumj" /></td>
			</tr>
			<tr>
				<td>地下建筑面积（万㎡）:</td>
				<td><input type="text" id="dixijianzhumjm" /></td>
			</tr>
			<tr>
				<td>可售计容面积（万㎡）:</td>
				<td><input type="text" id="keshoujirongmianji" /></td>
			</tr>
			<tr>
				<td>不可售计容面积（万㎡）:</td>
				<td><input type="text" id='bujeshoujirongmj' /></td>
			</tr>
			<tr>
				<td>产权车位（个）:</td>
				<td><input type="text" id='changquanchewie' /></td>
			</tr>
			<tr>
				<td>使用权车位（个）:</td>
				<td><input type="text" id='shiyongquanchewei' /></td>
			</tr>
			<tr>
				<td>组团特殊信息:</td>
				<td><input type="text" id='zutuanteshuxinxi' /></td>
			</tr>
			<tr>
				<td>楼栋数:</td>
				<td><input type="text" id='loutongshu' /></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="button" value="确定" id="queidingclus" /> <input
					type="button" value="取消" /></td>
			</tr>
		</table>	
	</div>
</body>
</html>