<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>实地地产计划系统</title>
<!--JQuery核心文件-->
<script type="text/javascript" src="easyui/jquery.min.js"></script>
<!--JQuery核心文件-->
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<!--对应的语言包-->
<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
<!--对应的样式文件-->
<link rel="stylesheet" type="text/css"
	href="easyui/themes/default/easyui.css" />
<!--对应的图标样式-->
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css" />
<!-- 自定义的js -->
<!-- <script type="text/javascript" src="js/homepage.js"></script> -->


<style type="text/css">
/* A {
	text-decoration: NONE
} */
td {
	height: 30px;
}

.logo {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	float: left;
	color: saddlebrown;
}

.logout {
	float: right;
	padding: 30px 15px 0 0;
	color: saddlebrown;
}

.dialog-button {
	text-align: center;
}

a {
	color: saddlebrown;
	text-decoration: none;
}

a:hower {
	text-decoration: underline;
}
</style>
</head>


<body class="easyui-layout">
	<!-- 上面部分 -->
	<div
		data-options="region:'north',title:'header',split:true,noheader:true"
		style="height: 60px; background: #F3F3F3;">
		<div class="logo">实地地产</div>
		<div class="logout">
			您好，${user.name} | <a href="">退出</a>
		</div>
	</div>


	<!-- 下面 -->
	<div
		data-options="region:'south',title:'版权声明',split:true,noheader:true"
		style="height: 48px;">
		<p>
		<center>
			<b style="color: saddlebrown;">&copy;天团boy版权所有</b>
		</center>
		</p>
	</div>


	<!-- 左侧 -->
	<div
		data-options="region:'west',title:'导 航',split:true,iconCls:'icon-world'"
		style="width: 180px; padding: 10px; background: #F3F3F3;">
		<ul id="nav"></ul>
	</div>
	<input type="hidden" id='inputIds_userid' value="${user.userId}" />


	<!-- 中间 -->
	<div data-options="region:'center'," style="overflow: hidden;">
		<div id="tabs">
			<div title="起始页" iconCls="icon-house"
				style="padding: 0 10px; display: block; background: #F3F3F3;">

				<h2>欢迎来到实地地产系统！</h2>

			</div>
		</div>
	</div>


	<!-- 自定义的js -->
	<script type="text/javascript">
		$(function() {
			/* $("#nav").tree({
				url : "JurTree",
				lines : true,
				onClick : function(none) {
					if (none.url != "") {
						if ($("#tabs").tabs('exists', none.text)) {
							$("#tabs").tabs('select', none.text);
						} else {
							$("#tabs").tabs('add', {
								title : none.text,
								closable : true,
								href : none.url,
							});
						}
					}
				},
			}); */

			$('#nav').tree({
				url : 'JurTree',
				lines : true,
				onLoadSuccess : function(node, data) {// 在数据加载成功以后触发。
					if (data) {
						$(data).each(function(index, value) {
							if (this.state == 'closed') {
								$('#nav').tree('expandAll');// 全部展开
							}
						});
					}
				},
				onClick : function(node) {// node:对象
					if (node.url) {
						if ($('#tabs').tabs('exists', node.text)) {//判断文本是否存在
							$('#tabs').tabs('select', node.text)//选中他
						} else {
							$('#tabs').tabs('add', {// 增加选项卡
								title : node.text,// 对象名字
								iconCls : node.iconCls,// 对象图标等于新图标
								closable : true,// 设置关闭按钮
								href : node.url,
							});
						}
					}
				}
			});
			$('#tabs').tabs({// 选项卡
				fit : true,// 自适应
				border : false,// 无边框
			});
		});
	</script>
</body>
</html>