<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>模板列表节点信息</title>
</head>
<body>
	<table>
		<tr>
			<td>序号：</td>
			<td><input type="text" id="xuhao" /></td>
		</tr>
		<tr>
			<td>级别：</td>
			<td><input type="text" id="jibie" /></td>
		</tr>
		<tr>
			<td>阶段 ：</td>
			<td><input type="text" id="jieduan" /></td>
		</tr>
		<tr>
			<td>业务事项：</td>
			<td><input type="text" id="yewushixiang" /></td>
		</tr>
		<tr>
			<td>计划开始日期：</td>
			<td><input type="text" id="jihuaksrq" /></td>
		</tr>
		<tr>
			<td>周期：</td>
			<td><input type="text" id="zhouqi" /></td>
		</tr>
		<tr>
			<td>计划完成日期：</td>
			<td><input type="text" id="jihuawcrq" /></td>
		</tr>
		<tr>
			<td>发起部门：</td>
			<td><input type="text" id="faqibumen" /></td>
		</tr>
		<tr>
			<td>接收部门：</td>
			<td><input type="text" id="jieshoubumen" /></td>
		</tr>
	</table>
</body>
</html>