<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>模板导入岗位设置</title>
</head>
<body>
	<table>
		<tr>
			<td>发起部门：<input type="text" id="faqiubmen" /></td>
			<td>岗位名称：<input type="text" id="gangweiname" /></td>
		</tr>
		<tr>
			<td>岗位排序：<input type="text" id="gangweipaixu" /></td>
			<td>岗位权限：<input type="radio" name="radio" />填报人<input
				type="radio" name="radio" />审批人<input type="radio" name="radio" />抄送人
			</td>
		</tr>
		<tr>
			<td>岗位类型：<select id="gangweitype">
					<option value="#">责任部门</option>
			</select>
			<td>
		</tr>
	</table>
	<table>
		<thead>
			<tr>
				<td>岗位姓名</td>
				<td>岗位排序</td>
				<td>姓名</td>
				<!-- 岗位权限是选择填报人、抄送人、审核人 -->
				<td>岗位权限</td>
				<td>岗位类型</td>
			</tr>
		</thead>
	</table>
</body>
</html>