<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>项目列表页面</title>
</head>
<body>
	<div>查询条件</div>
	<table>
		<tr>
			<td>项目名称：<input type="text" name="name" id="names" /></td>
			<td>公司名称：<input type="text" name="companyId" id="companyIds" /></td>
			<td>项目状态：<select name="projectState" id="projectStates">
			</select></td>
			<td><input type="button" value="查询" id="projechaxun"/></td>
		</tr>
	</table>
	<div style="height: 30px;">项目列表</div>
	<table id="projectTableId">
	</table>

	<script type="text/javascript">
		$(function() {
			//项目状态查询
			$.ajax({
				url : 'projectState',
				type : 'post',
				success : function(result) {
					/* <![CDATA[ */
					var html;
					html += "<option value=''>全部</option>";
					for (var i = 0; i < result.length; i++) {
						html += "<option value="+result[i].key+">"
								+ result[i].value + "</option>";
					}
					/* ]]> */
					$("#projectStates").html(html);
				}
			});

			//查询模板列表数据
			lists();
		});
		function lists(){
			alert(1);
			$('#projectTableId').datagrid({
				url : 'projectLists',
				queryParams:{
					name:$('#names').val(),
					companyId:$('#companyIds').val(),
					projectState:$('#projectState').val()
				},
				border : true,
				fitColumns : true,
				pagination : true,
				pageSize : 5,
				pageList : [ 2, 4, 6, 8, 10 ],
				pageNumber : 1,
				columns : [ [ {
					field : 'name',
					title : '项目名称',
					width : 60

				}, {
					field : 'city',
					title : '城市',
					width : 60
				}, {
					field : 'companyId',
					title : '公司名称',
					width : 60
				}, {
					field : 'exploitPeriod',
					title : '开发周期',
					width : 60
				}, {
					field : 'createdBy',
					title : '创建人',
					width : 60
				}, {
					field : 'caozuo',
					title : '操作',
					width : 60
					formatter: function(value,row,index){
						var ones;
							ones = '<span onclick="bjxianmu('+row.id+');">编辑项目</span>|<span onclick="cjjihua('+row.id+');">创建计划</span>';
						return ones;
					}
				} ] ]
			});
		}
		function bjxianmu(id){
			location="projectxin?"+id;
		}

		function cjjihua(id){
			location="changjianjihua?"+id;
		}
	</script>
</body>
</html>