<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>项目信息</title>
</head>
<body>
	<div style="width: 800px; height: 30px;">项目信息</div>
	<table style="margin-left: 150px;">
		<tr>
			<td>公司名称：<span id="tsSpan_1"></span></td>
			<td></td>
			<td>项目名称：<span id="tsSpan_2"></span></td>
			<td></td>
			<td>城市：<span id="tsSpan_3"></span></td>
			<td></td>
			<td>用地面积：<span id="tsSpan_4"></span></td>
			<td></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>用地面积（亩）：<span id="tsSpan_5"></span></td>
			<td></td>
			<td>计容面积（万㎡）：<span id="tsSpan_6"></span></td>
			<td></td>
			<td>容积率：<span id="tsSpan_7"></span></td>
			<td></td>
			<td>地上建筑面积（万㎡）：<span id="tsSpan_8"></span></td>
			<td></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>登记日期：<span id="tsSpan_9"></span></td>
			<td></td>
			<td>停车位（个）：<span id="tsSpan_10"></span></td>
			<td></td>
			<td>可售计容面积（万㎡）：<span id="tsSpan_11"></span></td>
			<td></td>
			<td>不售计容面积（万㎡）：<span id="tsSpan_12"></span></td>
			<td></td>
		</tr>
		<tr></tr>
		<tr></tr>
	</table>
	<div id="projectxinDiv_Id1" class="easyui-tabs"
		style="width: 1000px; height: 500px;">
		<div title="地块信息" style="padding: 20px; display: none;">
			<input type="button" value="查询" id="chaxunlandId" />
			<div id="ejfkendedId"></div>
		</div>
		<div title="组团信息" data-options="closable:true"
			style="overflow: auto; padding: 20px; display: none;">
			<input type="button" value="查询" id="zutanCountId" />
			<div id="zutaunendedId"></div>
		</div>
		<div title="证照信息" data-options="iconCls:'icon-reload',closable:true"
			style="padding: 20px; display: none;">
			<input type="button" value="查询" id="zhenzhaoCountId" />
			<div id="zhenzhaodId"></div>
		</div>
	</div>
	<div style="margin-left: 550px;">
		<a href="projectList"><input type="button" value="保存项目"
			id="chuangjianxm" /></a>
	</div>
	<script type="text/javascript">
		$(function() {
			var ids = sessionStorage["id"];
			$.ajax({
				url : 'onlyProject',
				type : 'post',
				data : {
					id : ids
				},
				success : function(result) {
					$("#tsSpan_1").text(result.companyId);
					$("#tsSpan_2").text(result.name);
					$("#tsSpan_3").text(result.city);
					$("#tsSpan_4").text(result.landArea);
					$("#tsSpan_5").text(result.landareamu);
					$("#tsSpan_6").text(result.tolerancearea);
					$("#tsSpan_7").text(result.ratio);
					$("#tsSpan_8").text(result.floorArea);
					$("#tsSpan_9").text(result.registerDate);
					$("#tsSpan_10").text(result.parking);
					$("#tsSpan_11").text(result.mayArea);
					$("#tsSpan_12").text(result.notManyArea);
				}
			});
			$("#chaxunlandId").click(function() {
				$('#ejfkendedId').dialog({
					title : '土地详情',
					width : 1200,
					height : 710,
					closed : false,
					cache : false,
					href : 'landCount',
					modal : true
				});
			});
			$("#zutanCountId").click(function() {
				$('#zutaunendedId').dialog({
					title : '组团详情',
					width : 1200,
					height : 710,
					closed : false,
					cache : false,
					href : 'zutuanCount',
					modal : true
				});
			});
			$("#zhenzhaoCountId").click(function() {
				$('#zhenzhaodId').dialog({
					title : '证照详情',
					width : 1200,
					height : 710,
					closed : false,
					cache : false,
					href : 'zhenzhaoCOunt',
					modal : true
				});
			});
		});
	</script>
</body>
</html>