<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>项目页面</title>
</head>
<body>
	<img id="u6246_img" class="img " src="images/u6.jpg" />
	<div style="width: 800px; height: 30px;">项目信息</div>
	<table>
		<tr>
			<td>项目名称：</td>
			<td><input type="text" name="name" id="name" /></td>
			<td>公司名称：</td>
			<td><input type="text" name="companyId" id="companyId" /></td>
			<td>项目图片：</td>
			<td><input type="button" value="上传图片" /></td>
			<td>开发周期：</td>
			<td><input type="text" name="exploitPeriod" id="exploitPeriod" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>区域：</td>
			<td><select id="area">
					<option value="青岛">青岛</option>
			</select></td>
			<td>城市：</td>
			<td><select id="city">
					<option value="青岛">青岛</option>
			</select></td>
			<td>用地面积：</td>
			<td><input type="text" name="landArea" id="landArea" /></td>
			<td>容积率：</td>
			<td><input type="text" name="ratio" id="ratio" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>用地面积（亩）：</td>
			<td><input type="text" name="landareamu" id="landareamu" /></td>
			<td>计容面积：</td>
			<td><input type="text" name="tolerancearea" id="tolerancearea" /></td>
			<td>地上建筑面积：</td>
			<td><input type="text" name="floorArea" id="floorArea" /></td>
			<td>可售计容面积：</td>
			<td><input type="text" name="mayArea" id="mayArea" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>不售计容面积：</td>
			<td><input type="text" name="notManyArea" id="notManyArea" /></td>
			<td>停车位：</td>
			<td><input type="text" name="parking" id="parking" /></td>
			<td>登记日期：</td>
			<td><input type="text" name="registerDate" id="registerDate" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td><a href="#"><h1>地块</h1></a></td>
			<td><a href="#"><h1>组团</h1></a></td>
			<td><a href="#"><h1>证照</h1></a></td>
		</tr>
	</table>
	<div style="width: 800px; height: 30px;">地块信息</div>
	<div style="width: 800px; height: 300px;">
		<div style="margin-left: 700px;">
			<input type="button" value="新增地块" id="adddikuai" />
		</div>
	</div>
	<div style="margin-left: 700px;">
		<a href="projectList"><input type="button" value="创建项目"
			id="chuangjianxm" /></a>
	</div>

	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#chuangjianxm").click(function(){
				$.ajax({
					url : 'insertProject',
					type : 'post',
					data : {
						name : $("#name").val(),
						companyId : $("#companyId").val(),
						exploitPeriod : $("#exploitPeriod").val(),
						city : $("#city").val(),
						area : $("#area").val(),
						landArea : $("#landArea").val(),
						ratio : $("#ratio").val(),
						landareamu : $("#landareamu").val(),
						tolerancearea : $("#tolerancearea").val(),
						floorArea : $("#floorArea").val(),
						mayArea : $("#mayArea").val(),
						notManyArea : $("#notManyArea").val(),
						parking : $("#parking").val(),
						registerDate : $("#registerDate").val()
					},
					success : function(result) {
						alert(result);
					}
				});
			});
		});
	</script>
</body>
</html>