<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>项目页面</title>
</head>
<body>
	<img id="u6246_img" class="img " src="images/u6.jpg" />
	<div style="width: 800px; height: 30px;">项目信息</div>
	<table>
		<tr>
			<td>项目名称：</td>
			<td><input type="text" id="projectName" /></td>
			<td>公司名称：</td>
			<td><input type="text" id="centerName" /></td>
			<td>项目图片：</td>
			<td><input type="button" value="上传图片" /></td>
			<td>开发周期：</td>
			<td><input type="text" id="kaifa" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>区域：</td>
			<td><select>
					<option id="quyu">青岛</option>
			</select></td>
			<td>城市：</td>
			<td><select>
					<option id="city">青岛</option>
			</select></td>
			<td>用地面积：</td>
			<td><input type="text" id="yongdimianji" /></td>
			<td>容积率：</td>
			<td><input type="text" id="rongjilv" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>用地面积（亩）：</td>
			<td><input type="text" id="yongdimianjimu" /></td>
			<td>计容面积：</td>
			<td><input type="text" id="jirongmianji" /></td>
			<td>地上建筑面积：</td>
			<td><input type="text" id="dishangjianzhumj" /></td>
			<td>可售计容面积：</td>
			<td><input type="text" id="keshoujirongmj" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>不售计容面积：</td>
			<td><input type="text" id="bukeshoujrmj" /></td>
			<td>停车位：</td>
			<td><input type="text" id="tingchewei" /></td>
			<td>登记日期：</td>
			<td><input type="text" id="dengjiriqi" /></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td><a href="#"><h1>地块</h1></a></td>
			<td><a href="#"><h1>组团</h1></a></td>
			<td><a href="#"><h1>证照</h1></a></td>
		</tr>
	</table>
	<div style="width: 800px; height: 30px;">地块信息</div>
	<div style="width: 800px; height: 300px;">
		<div style="margin-left: 700px;"><input type="button" value="新增地块" id="adddikuai"/></div>
	</div>
	<div style="margin-left: 700px;"><a href="projectList"><input type="button" value="创建项目" id="chuangjianxm"/></a></div>
</body>
</html>