<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>项目列表页面</title>
</head>
<body>
	<img id="u6246_img" class="img " src="images/u6.jpg" />
	<div>查询条件</div>
	<table>
		<tr>
			<td>项目名称：<input type="text" name="name" id="names" /></td>
			<td>公司名称：<input type="text" name="companyId" id="companyIds" /></td>
			<td>项目状态：<select name="projectState" id="projectStates">
			</select></td>
			<td><input type="button" value="查询" id="projechaxun"
				onclick="lists();" /></td>
		</tr>
	</table>
	<table id="table_ids">
	</table>

	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript">
		$(function() {
			//项目状态查询
			$.ajax({
				url : 'projectState',
				type : 'post',
				success : function(result) {
					/* <![CDATA[ */
					var html;
					html += "<option value=''>全部</option>";
					for (var i = 0; i < result.length; i++) {
						html += "<option value="+result[i].key+">"
								+ result[i].value + "</option>";
					}
					/* ]]> */
					$("#projectStates").html(html);
				}
			});

			$('#table_ids').datagrid({
				url : 'projectLists',
				border : true,
				fitColumns : true,
				pagination : true,
				pageSize : 5,
				pageList : [ 2, 4, 6, 8, 10 ],
				pageNumber : 1,
				columns : [ [ {
					field : 'name',
					title : '项目名称',
					width : 60

				}, {
					field : 'city',
					title : '城市',
					width : 60
				}, {
					field : 'companyId',
					title : '公司名称',
					width : 60
				}, {
					field : 'exploitPeriod',
					title : '开发周期',
					width : 60
				}, {
					field : 'createdBy',
					title : '创建人',
					width : 60
				}, {
					field : 'caozuo',
					title : '操作',
					width : 60
				} ] ]
			});
		});

		// 		function lists() {
		// 			$.ajax({
		// 				url : 'projectLists',
		// 				type : 'post',
		// 				success : function(result) {
		// 					/* <![CDATA[ */
		// 					var html;
		// 					for (var i = 0; i < result.length; i++) {
		// 						html += "<tr><td><a href='#'  disable＝'true' onclick='xiangmu("
		// 							+ result[i].id
		// 							+ ");'>"
		// 							+ result[i].name
		// 							+ "</a></td><td>"
		// 							+ result[i].city
		// 							+ "</td><td>"
		// 							+ result[i].companyId
		// 							+ "</td><td>"
		// 							+ result[i].exploitPeriod
		// 							+ "</td><td>"
		// 							+ result[i].createdBy
		// 							+ "</td><td><a href = '#' disable＝'true' onclick='bjxm("
		// 							+ result[i].id
		// 							+ ");'	>编辑项目</a>|<a href='#'   disable＝'true' onclick='cjjihua("
		// 							+ result[i].id
		// 							+ ");'>创建计划</a></td></tr>";
		// 					}
		// 					/* ]]> */
		// 					$("#tbody_id").html(html);
		// 				}
		// 			});
		// 		}
	</script>
</body>
</html>