<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>模板导入</title>
</head>
<body>
	<img id="u6246_img" class="img " src="images/u6.jpg" />
	<div style="height: 30px;">模板导入</div>
	<table>
		<tr>
			<td>模板名称:<input type="text" /></td>
			<td></td>
			<td>模板类型：<select id="mobantype">
					<option value="#">请选择</option>
			</select></td>
			<td></td>
			<td>模板业态:<select id="mobanyetai">
					<option value="#">请选择</option>
			</select></td>
			<td></td>
		</tr>
		<tr>
			<td>文件<input type="button" value="上传" id="wenjiansc" /></td>
			<td></td>
			<td></td>
			<td><input type="button" value="导入" id="daorumb" /></td>
		</tr>
	</table>
	<div style="height: 30px;">模板节点信息</div>
	<table>
		<thead>
			<tr>
				<td>序号</td>
				<td></td>
				<td>级别</td>
				<td></td>
				<td>阶段</td>
				<td></td>
				<td>业务事项</td>
				<td></td>
				<td>开始日期</td>
				<td></td>
				<td>周期</td>
				<td></td>
				<td>完成日期</td>
				<td></td>
				<td>发起部门</td>
				<td></td>
				<td>接收部门</td>
				<td></td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><input type="button" value="确定" id="mpbanjdqd" /></td>
			</tr>
		</tbody>
	</table>
</body>
</html>