<!DOCTYPE html>
<html>
  <head>
    <title>到期任务填报</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/到期任务填报/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/到期任务填报/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1137" class="ax_default box_1">
        <div id="u1137_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1138" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1139" class="ax_default _图片">
        <img id="u1139_img" class="img " src="images/中期任务填报/u463.png"/>
        <!-- Unnamed () -->
        <div id="u1140" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1141" class="ax_default _图片">
        <img id="u1141_img" class="img " src="images/中期任务填报/u467.png"/>
        <!-- Unnamed () -->
        <div id="u1142" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1143" class="ax_default _图片">
        <img id="u1143_img" class="img " src="images/中期任务填报/u469.png"/>
        <!-- Unnamed () -->
        <div id="u1144" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1145" class="ax_default box_1">
        <div id="u1145_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1146" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1147" class="ax_default label">
        <div id="u1147_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1148" class="text" style="visibility: visible;">
          <p><span>中期节点</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1149" class="ax_default label">
        <div id="u1149_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1150" class="text" style="visibility: visible;">
          <p><span>土地摘牌</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1151" class="ax_default box_1">
        <div id="u1151_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1152" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1153" class="ax_default _图片">
        <img id="u1153_img" class="img " src="images/中期任务填报/u486.png"/>
        <!-- Unnamed () -->
        <div id="u1154" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1155" class="ax_default _图片">
        <img id="u1155_img" class="img " src="images/中期任务填报/u488.png"/>
        <!-- Unnamed () -->
        <div id="u1156" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1157" class="ax_default _图片">
        <img id="u1157_img" class="img " src="images/中期任务填报/u490.png"/>
        <!-- Unnamed () -->
        <div id="u1158" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1159" class="ax_default _图片">
        <img id="u1159_img" class="img " src="images/中期任务填报/u492.png"/>
        <!-- Unnamed () -->
        <div id="u1160" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1161" class="ax_default _图片">
        <img id="u1161_img" class="img " src="images/中期任务填报/u496.png"/>
        <!-- Unnamed () -->
        <div id="u1162" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u1163" class="ax_default line">
        <img id="u1163_img" class="img " src="images/预计延期完成/u863.png"/>
        <!-- Unnamed () -->
        <div id="u1164" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1165" class="ax_default line">
        <img id="u1165_img" class="img " src="images/中期任务填报/u500.png"/>
        <!-- Unnamed () -->
        <div id="u1166" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1167" class="ax_default box_1">
        <div id="u1167_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1168" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1169" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u1170" class="ax_default table_cell">
          <img id="u1170_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1171" class="text" style="visibility: visible;">
            <p><span>计划开始日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1172" class="ax_default table_cell">
          <img id="u1172_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1173" class="text" style="visibility: visible;">
            <p><span>2017-03-01</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1174" class="ax_default table_cell">
          <img id="u1174_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1175" class="text" style="visibility: visible;">
            <p><span>计划完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1176" class="ax_default table_cell">
          <img id="u1176_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1177" class="text" style="visibility: visible;">
            <p><span>2017-04-30</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1178" class="ax_default table_cell">
          <img id="u1178_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1179" class="text" style="visibility: visible;">
            <p><span>实际完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1180" class="ax_default table_cell">
          <img id="u1180_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1181" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1182" class="ax_default table_cell">
          <img id="u1182_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1183" class="text" style="visibility: visible;">
            <p><span>计划阶段：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1184" class="ax_default table_cell">
          <img id="u1184_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1185" class="text" style="visibility: visible;">
            <p><span>招采</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1186" class="ax_default table_cell">
          <img id="u1186_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1187" class="text" style="visibility: visible;">
            <p><span>节点周期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1188" class="ax_default table_cell">
          <img id="u1188_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1189" class="text" style="visibility: visible;">
            <p><span>61</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1190" class="ax_default table_cell">
          <img id="u1190_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1191" class="text" style="visibility: visible;">
            <p><span>节点级别：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1192" class="ax_default table_cell">
          <img id="u1192_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1193" class="text" style="visibility: visible;">
            <p><span>3级</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1194" class="ax_default table_cell">
          <img id="u1194_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1195" class="text" style="visibility: visible;">
            <p><span>发起部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1196" class="ax_default table_cell">
          <img id="u1196_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1197" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1198" class="ax_default table_cell">
          <img id="u1198_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1199" class="text" style="visibility: visible;">
            <p><span>接收部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1200" class="ax_default table_cell">
          <img id="u1200_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1201" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1202" class="ax_default table_cell">
          <img id="u1202_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1203" class="text" style="visibility: visible;">
            <p><span>完成标准：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1204" class="ax_default table_cell">
          <img id="u1204_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1205" class="text" style="visibility: visible;">
            <p><span>定标审批完成，上传定标审批完成OA截图</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1206" class="ax_default line">
        <img id="u1206_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1207" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1208" class="ax_default line">
        <img id="u1208_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1209" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1210" class="ax_default line">
        <img id="u1210_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1211" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1212" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u1213" class="ax_default">

          <!-- Unnamed (表格) -->
          <div id="u1214" class="ax_default">

            <!-- Unnamed (单元格) -->
            <div id="u1215" class="ax_default table_cell">
              <img id="u1215_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1216" class="text" style="visibility: visible;">
                <p><span>填报人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1217" class="ax_default table_cell">
              <img id="u1217_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1218" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1219" class="ax_default table_cell">
              <img id="u1219_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1220" class="text" style="visibility: visible;">
                <p><span>计划完成日期：2017-04-30</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1221" class="ax_default table_cell">
              <img id="u1221_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1222" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1223" class="ax_default table_cell">
              <img id="u1223_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1224" class="text" style="visibility: visible;">
                <p><span>审批人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1225" class="ax_default table_cell">
              <img id="u1225_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1226" class="text" style="visibility: visible;">
                <p><span>王继民 、邵连云、张云武、叶天赐、吴泽</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1227" class="ax_default table_cell">
              <img id="u1227_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1228" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1229" class="ax_default table_cell">
              <img id="u1229_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1230" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1231" class="ax_default table_cell">
              <img id="u1231_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1232" class="text" style="visibility: visible;">
                <p><span>抄送人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1233" class="ax_default table_cell">
              <img id="u1233_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1234" class="text" style="visibility: visible;">
                <p><span>赵果</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1235" class="ax_default table_cell">
              <img id="u1235_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1236" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1237" class="ax_default table_cell">
              <img id="u1237_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1238" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1239" class="ax_default table_cell">
              <img id="u1239_img" class="img " src="images/预计按时完成/u791.png"/>
              <!-- Unnamed () -->
              <div id="u1240" class="text" style="visibility: visible;">
                <p><span>填报附件：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1241" class="ax_default table_cell">
              <img id="u1241_img" class="img " src="images/预计按时完成/u793.png"/>
              <!-- Unnamed () -->
              <div id="u1242" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1243" class="ax_default table_cell">
              <img id="u1243_img" class="img " src="images/预计按时完成/u795.png"/>
              <!-- Unnamed () -->
              <div id="u1244" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1245" class="ax_default table_cell">
              <img id="u1245_img" class="img " src="images/预计按时完成/u795.png"/>
              <!-- Unnamed () -->
              <div id="u1246" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1247" class="ax_default line">
            <img id="u1247_img" class="img " src="images/中期任务填报/u590.png"/>
            <!-- Unnamed () -->
            <div id="u1248" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1249" class="ax_default line">
            <img id="u1249_img" class="img " src="images/中期任务填报/u592.png"/>
            <!-- Unnamed () -->
            <div id="u1250" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1251" class="ax_default line">
            <img id="u1251_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u1252" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1253" class="ax_default line">
            <img id="u1253_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u1254" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1255" class="ax_default _图片">
        <img id="u1255_img" class="img " src="images/中期任务填报/u675.png"/>
        <!-- Unnamed () -->
        <div id="u1256" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1257" class="ax_default box_1">
        <div id="u1257_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1258" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1259" class="ax_default _图片">
        <img id="u1259_img" class="img " src="images/中期任务填报/u465.png"/>
        <!-- Unnamed () -->
        <div id="u1260" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1261" class="ax_default box_1">
        <div id="u1261_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1262" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1263" class="ax_default box_1">
        <div id="u1263_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1264" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1265" class="ax_default label">
        <div id="u1265_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1266" class="text" style="visibility: visible;">
          <p><span>转办</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1267" class="ax_default _图片">
        <img id="u1267_img" class="img " src="images/中期任务填报/u465.png"/>
        <!-- Unnamed () -->
        <div id="u1268" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1269" class="ax_default box_1">
        <div id="u1269_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1270" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1271" class="ax_default box_1">
        <div id="u1271_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1272" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1273" class="ax_default label">
        <div id="u1273_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1274" class="text" style="visibility: visible;">
          <p><span>协办</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1275" class="ax_default _图片">
        <img id="u1275_img" class="img " src="images/到期任务填报/u1275.png"/>
        <!-- Unnamed () -->
        <div id="u1276" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1277" class="ax_default label">
        <div id="u1277_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1278" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1279" class="ax_default label">
        <div id="u1279_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1280" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1281" class="ax_default label">
        <div id="u1281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1282" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1283" class="ax_default label">
        <div id="u1283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1284" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- 中期任务填报 (动态面板) -->
      <div id="u1285" class="ax_default ax_default_hidden" data-label="中期任务填报" style="display: none; visibility: hidden">
        <div id="u1285_state0" class="panel_state" data-label="设置任务协报人">
          <div id="u1285_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1286" class="ax_default _图片">
              <img id="u1286_img" class="img " src="images/中期任务填报/u597.png"/>
              <!-- Unnamed () -->
              <div id="u1287" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1288" class="ax_default box_1">
              <div id="u1288_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1289" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1290" class="ax_default label">
              <div id="u1290_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1291" class="text" style="visibility: visible;">
                <p><span>设置任务协办人</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1292" class="ax_default box_1">
              <div id="u1292_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1293" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1294" class="ax_default label">
              <div id="u1294_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1295" class="text" style="visibility: visible;">
                <p><span>协办人：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1296" class="ax_default label">
              <div id="u1296_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1297" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1298" class="ax_default line">
              <img id="u1298_img" class="img " src="images/中期任务填报/u609.png"/>
              <!-- Unnamed () -->
              <div id="u1299" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u1300" class="ax_default line">
              <img id="u1300_img" class="img " src="images/中期任务填报/u611.png"/>
              <!-- Unnamed () -->
              <div id="u1301" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1302" class="ax_default line">
              <img id="u1302_img" class="img " src="images/中期任务填报/u613.png"/>
              <!-- Unnamed () -->
              <div id="u1303" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (多行文本框) -->
            <div id="u1304" class="ax_default text_area">
              <textarea id="u1304_input"></textarea>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1305" class="ax_default label">
              <div id="u1305_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1306" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u1307" class="ax_default checkbox">
              <label for="u1307_input">
                <!-- Unnamed () -->
                <div id="u1308" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </label>
              <input id="u1307_input" type="checkbox" value="checkbox"/>
            </div>
          </div>
        </div>
        <div id="u1285_state1" class="panel_state" data-label="任务转办" style="display: none; visibility: hidden;">
          <div id="u1285_state1_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1309" class="ax_default _图片">
              <img id="u1309_img" class="img " src="images/中期任务填报/u660.png"/>
              <!-- Unnamed () -->
              <div id="u1310" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1311" class="ax_default box_1">
              <div id="u1311_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1312" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1313" class="ax_default label">
              <div id="u1313_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1314" class="text" style="visibility: visible;">
                <p><span>任务转办</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1315" class="ax_default box_1">
              <div id="u1315_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1316" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1317" class="ax_default label">
              <div id="u1317_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1318" class="text" style="visibility: visible;">
                <p><span>选择转办人员：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u1319" class="ax_default text_field">
              <input id="u1319_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1320" class="ax_default box_1">
              <div id="u1320_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1321" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1322" class="ax_default label">
              <div id="u1322_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1323" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1285_state2" class="panel_state" data-label="节点延期" style="display: none; visibility: hidden;">
          <div id="u1285_state2_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1324" class="ax_default _图片">
              <img id="u1324_img" class="img " src="images/到期任务填报/u1324.png"/>
              <!-- Unnamed () -->
              <div id="u1325" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u1326" class="ax_default text_field">
              <input id="u1326_input" type="text" value="2017-05-30"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1327" class="ax_default box_1">
              <div id="u1327_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1328" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1329" class="ax_default label">
              <div id="u1329_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1330" class="text" style="visibility: visible;">
                <p><span>2017-04-30</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1331" class="ax_default label">
              <div id="u1331_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1332" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1285_state3" class="panel_state" data-label="确认完成" style="display: none; visibility: hidden;">
          <div id="u1285_state3_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1333" class="ax_default _图片">
              <img id="u1333_img" class="img " src="images/到期任务填报/u1333.png"/>
              <!-- Unnamed () -->
              <div id="u1334" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1335" class="ax_default box_1">
              <div id="u1335_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1336" class="text" style="visibility: visible;">
                <p><span>2017-04-15</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u1337" class="ax_default text_field">
              <input id="u1337_input" type="text" value=""/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1338" class="ax_default _图片">
              <img id="u1338_img" class="img " src="images/到期任务填报/u1338.png"/>
              <!-- Unnamed () -->
              <div id="u1339" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1340" class="ax_default label">
              <div id="u1340_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1341" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1342" class="ax_default box_1">
        <div id="u1342_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1343" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1344" class="ax_default box_1">
        <div id="u1344_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1345" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1346" class="ax_default box_1">
        <div id="u1346_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1347" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1348" class="ax_default label">
        <div id="u1348_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1349" class="text" style="visibility: visible;">
          <p><span>责任部门</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1350" class="ax_default label">
        <div id="u1350_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1351" class="text" style="visibility: visible;">
          <p><span>责任人</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
