<!DOCTYPE html>
<html>
  <head>
    <title>到期任务审批</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/到期任务审批/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/到期任务审批/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (水平线) -->
      <div id="u1352" class="ax_default line">
        <img id="u1352_img" class="img " src="images/中期任务填报/u500.png"/>
        <!-- Unnamed () -->
        <div id="u1353" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1354" class="ax_default box_1">
        <div id="u1354_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1355" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1356" class="ax_default _图片">
        <img id="u1356_img" class="img " src="images/中期任务填报/u463.png"/>
        <!-- Unnamed () -->
        <div id="u1357" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1358" class="ax_default _图片">
        <img id="u1358_img" class="img " src="images/中期任务填报/u467.png"/>
        <!-- Unnamed () -->
        <div id="u1359" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1360" class="ax_default _图片">
        <img id="u1360_img" class="img " src="images/中期任务填报/u469.png"/>
        <!-- Unnamed () -->
        <div id="u1361" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1362" class="ax_default box_1">
        <div id="u1362_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1363" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1364" class="ax_default label">
        <div id="u1364_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1365" class="text" style="visibility: visible;">
          <p><span>中期节点</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1366" class="ax_default label">
        <div id="u1366_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1367" class="text" style="visibility: visible;">
          <p><span>土地摘牌</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1368" class="ax_default box_1">
        <div id="u1368_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1369" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1370" class="ax_default _图片">
        <img id="u1370_img" class="img " src="images/中期任务填报/u486.png"/>
        <!-- Unnamed () -->
        <div id="u1371" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1372" class="ax_default _图片">
        <img id="u1372_img" class="img " src="images/中期任务填报/u488.png"/>
        <!-- Unnamed () -->
        <div id="u1373" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1374" class="ax_default _图片">
        <img id="u1374_img" class="img " src="images/中期任务填报/u490.png"/>
        <!-- Unnamed () -->
        <div id="u1375" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1376" class="ax_default _图片">
        <img id="u1376_img" class="img " src="images/中期任务填报/u492.png"/>
        <!-- Unnamed () -->
        <div id="u1377" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1378" class="ax_default _图片">
        <img id="u1378_img" class="img " src="images/中期任务填报/u496.png"/>
        <!-- Unnamed () -->
        <div id="u1379" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u1380" class="ax_default line">
        <img id="u1380_img" class="img " src="images/预计延期完成/u863.png"/>
        <!-- Unnamed () -->
        <div id="u1381" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1382" class="ax_default line">
        <img id="u1382_img" class="img " src="images/中期任务填报/u500.png"/>
        <!-- Unnamed () -->
        <div id="u1383" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1384" class="ax_default box_1">
        <div id="u1384_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1385" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1386" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u1387" class="ax_default table_cell">
          <img id="u1387_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1388" class="text" style="visibility: visible;">
            <p><span>计划开始日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1389" class="ax_default table_cell">
          <img id="u1389_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1390" class="text" style="visibility: visible;">
            <p><span>2017-03-01</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1391" class="ax_default table_cell">
          <img id="u1391_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1392" class="text" style="visibility: visible;">
            <p><span>计划完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1393" class="ax_default table_cell">
          <img id="u1393_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1394" class="text" style="visibility: visible;">
            <p><span>2017-04-30</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1395" class="ax_default table_cell">
          <img id="u1395_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1396" class="text" style="visibility: visible;">
            <p><span>实际完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1397" class="ax_default table_cell">
          <img id="u1397_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1398" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1399" class="ax_default table_cell">
          <img id="u1399_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1400" class="text" style="visibility: visible;">
            <p><span>计划阶段：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1401" class="ax_default table_cell">
          <img id="u1401_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1402" class="text" style="visibility: visible;">
            <p><span>招采</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1403" class="ax_default table_cell">
          <img id="u1403_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1404" class="text" style="visibility: visible;">
            <p><span>节点周期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1405" class="ax_default table_cell">
          <img id="u1405_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1406" class="text" style="visibility: visible;">
            <p><span>61</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1407" class="ax_default table_cell">
          <img id="u1407_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1408" class="text" style="visibility: visible;">
            <p><span>节点级别：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1409" class="ax_default table_cell">
          <img id="u1409_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1410" class="text" style="visibility: visible;">
            <p><span>3级</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1411" class="ax_default table_cell">
          <img id="u1411_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1412" class="text" style="visibility: visible;">
            <p><span>发起部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1413" class="ax_default table_cell">
          <img id="u1413_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1414" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1415" class="ax_default table_cell">
          <img id="u1415_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1416" class="text" style="visibility: visible;">
            <p><span>接收部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1417" class="ax_default table_cell">
          <img id="u1417_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1418" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1419" class="ax_default table_cell">
          <img id="u1419_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1420" class="text" style="visibility: visible;">
            <p><span>完成标准：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1421" class="ax_default table_cell">
          <img id="u1421_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1422" class="text" style="visibility: visible;">
            <p><span>定标审批完成，上传定标审批完成OA截图</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1423" class="ax_default line">
        <img id="u1423_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1424" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1425" class="ax_default line">
        <img id="u1425_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1426" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1427" class="ax_default line">
        <img id="u1427_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1428" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1429" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u1430" class="ax_default">

          <!-- Unnamed (表格) -->
          <div id="u1431" class="ax_default">

            <!-- Unnamed (单元格) -->
            <div id="u1432" class="ax_default table_cell">
              <img id="u1432_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1433" class="text" style="visibility: visible;">
                <p><span>填报人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1434" class="ax_default table_cell">
              <img id="u1434_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1435" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1436" class="ax_default table_cell">
              <img id="u1436_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1437" class="text" style="visibility: visible;">
                <p><span>计划完成日期：2017-04-30</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1438" class="ax_default table_cell">
              <img id="u1438_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1439" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1440" class="ax_default table_cell">
              <img id="u1440_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1441" class="text" style="visibility: visible;">
                <p><span>审批人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1442" class="ax_default table_cell">
              <img id="u1442_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1443" class="text" style="visibility: visible;">
                <p><span>王继民 、邵连云、张云武、叶天赐、吴泽</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1444" class="ax_default table_cell">
              <img id="u1444_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1445" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1446" class="ax_default table_cell">
              <img id="u1446_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1447" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1448" class="ax_default table_cell">
              <img id="u1448_img" class="img " src="images/中期任务填报/u566.png"/>
              <!-- Unnamed () -->
              <div id="u1449" class="text" style="visibility: visible;">
                <p><span>抄送人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1450" class="ax_default table_cell">
              <img id="u1450_img" class="img " src="images/中期任务填报/u568.png"/>
              <!-- Unnamed () -->
              <div id="u1451" class="text" style="visibility: visible;">
                <p><span>赵果</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1452" class="ax_default table_cell">
              <img id="u1452_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1453" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1454" class="ax_default table_cell">
              <img id="u1454_img" class="img " src="images/中期任务填报/u570.png"/>
              <!-- Unnamed () -->
              <div id="u1455" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1456" class="ax_default table_cell">
              <img id="u1456_img" class="img " src="images/预计按时完成/u791.png"/>
              <!-- Unnamed () -->
              <div id="u1457" class="text" style="visibility: visible;">
                <p><span>填报附件：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1458" class="ax_default table_cell">
              <img id="u1458_img" class="img " src="images/预计按时完成/u793.png"/>
              <!-- Unnamed () -->
              <div id="u1459" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1460" class="ax_default table_cell">
              <img id="u1460_img" class="img " src="images/预计按时完成/u795.png"/>
              <!-- Unnamed () -->
              <div id="u1461" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1462" class="ax_default table_cell">
              <img id="u1462_img" class="img " src="images/预计按时完成/u795.png"/>
              <!-- Unnamed () -->
              <div id="u1463" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1464" class="ax_default line">
            <img id="u1464_img" class="img " src="images/中期任务填报/u590.png"/>
            <!-- Unnamed () -->
            <div id="u1465" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1466" class="ax_default line">
            <img id="u1466_img" class="img " src="images/中期任务填报/u592.png"/>
            <!-- Unnamed () -->
            <div id="u1467" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1468" class="ax_default line">
            <img id="u1468_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u1469" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u1470" class="ax_default line">
            <img id="u1470_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u1471" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1472" class="ax_default _图片">
        <img id="u1472_img" class="img " src="images/中期任务填报/u675.png"/>
        <!-- Unnamed () -->
        <div id="u1473" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1474" class="ax_default box_1">
        <div id="u1474_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1475" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1476" class="ax_default box_1">
        <div id="u1476_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1477" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1478" class="ax_default box_1">
        <div id="u1478_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1479" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1480" class="ax_default _图片">
        <img id="u1480_img" class="img " src="images/到期任务审批/u1480.png"/>
        <!-- Unnamed () -->
        <div id="u1481" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- 到期任务审批 (动态面板) -->
      <div id="u1482" class="ax_default ax_default_hidden" data-label="到期任务审批" style="display: none; visibility: hidden">
        <div id="u1482_state0" class="panel_state" data-label="State1">
          <div id="u1482_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1483" class="ax_default _图片">
              <img id="u1483_img" class="img " src="images/到期任务审批/u1483.png"/>
              <!-- Unnamed () -->
              <div id="u1484" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1485" class="ax_default box_1">
              <div id="u1485_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1486" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u1487" class="ax_default droplist">
              <select id="u1487_input">
                <option selected value="——常用批示语——">——常用批示语——</option>
                <option value="同意">同意</option>
                <option value="批准">批准</option>
                <option value="收到">收到</option>
                <option value="拒绝">拒绝</option>
                <option value="不同意">不同意</option>
              </select>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u1488" class="ax_default text_field">
              <input id="u1488_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1489" class="ax_default box_1">
              <div id="u1489_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1490" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1491" class="ax_default label">
              <div id="u1491_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1492" class="text" style="visibility: visible;">
                <p><span>选择协办人</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1493" class="ax_default box_1">
              <div id="u1493_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1494" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1495" class="ax_default box_1">
              <div id="u1495_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1496" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u1497" class="ax_default text_field">
              <input id="u1497_input" type="text" value=""/>
            </div>

            <!-- 人员1 (图片) -->
            <div id="u1498" class="ax_default _图片 ax_default_hidden" data-label="人员1" style="display: none; visibility: hidden">
              <img id="u1498_img" class="img " src="images/到期任务审批/人员1_u1498.png"/>
              <!-- Unnamed () -->
              <div id="u1499" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- 人员2 (图片) -->
            <div id="u1500" class="ax_default _图片 ax_default_hidden" data-label="人员2" style="display: none; visibility: hidden">
              <img id="u1500_img" class="img " src="images/到期任务审批/人员1_u1498.png"/>
              <!-- Unnamed () -->
              <div id="u1501" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1502" class="ax_default label">
              <div id="u1502_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1503" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1504" class="ax_default label">
              <div id="u1504_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1505" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1506" class="ax_default label">
              <div id="u1506_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1507" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1508" class="ax_default label">
              <div id="u1508_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1509" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1482_state1" class="panel_state" data-label="选择协办人" style="display: none; visibility: hidden;">
          <div id="u1482_state1_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u1510" class="ax_default _图片">
              <img id="u1510_img" class="img " src="images/中期任务填报/u597.png"/>
              <!-- Unnamed () -->
              <div id="u1511" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1512" class="ax_default box_1">
              <div id="u1512_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1513" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1514" class="ax_default label">
              <div id="u1514_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1515" class="text" style="visibility: visible;">
                <p><span>设置任务协办人</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1516" class="ax_default box_1">
              <div id="u1516_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1517" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1518" class="ax_default label">
              <div id="u1518_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1519" class="text" style="visibility: visible;">
                <p><span>协办人：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1520" class="ax_default label">
              <div id="u1520_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1521" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1522" class="ax_default line">
              <img id="u1522_img" class="img " src="images/中期任务填报/u609.png"/>
              <!-- Unnamed () -->
              <div id="u1523" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u1524" class="ax_default line">
              <img id="u1524_img" class="img " src="images/中期任务填报/u611.png"/>
              <!-- Unnamed () -->
              <div id="u1525" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1526" class="ax_default line">
              <img id="u1526_img" class="img " src="images/中期任务填报/u613.png"/>
              <!-- Unnamed () -->
              <div id="u1527" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u1528" class="ax_default _图片">
              <img id="u1528_img" class="img " src="images/中期任务填报/u597.png"/>
              <!-- Unnamed () -->
              <div id="u1529" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1530" class="ax_default box_1">
              <div id="u1530_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1531" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1532" class="ax_default label">
              <div id="u1532_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1533" class="text" style="visibility: visible;">
                <p><span>设置任务协办人</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1534" class="ax_default box_1">
              <div id="u1534_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1535" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1536" class="ax_default label">
              <div id="u1536_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1537" class="text" style="visibility: visible;">
                <p><span>协办人：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1538" class="ax_default label">
              <div id="u1538_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1539" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1540" class="ax_default line">
              <img id="u1540_img" class="img " src="images/中期任务填报/u609.png"/>
              <!-- Unnamed () -->
              <div id="u1541" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u1542" class="ax_default line">
              <img id="u1542_img" class="img " src="images/中期任务填报/u611.png"/>
              <!-- Unnamed () -->
              <div id="u1543" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (垂直线) -->
            <div id="u1544" class="ax_default line">
              <img id="u1544_img" class="img " src="images/中期任务填报/u613.png"/>
              <!-- Unnamed () -->
              <div id="u1545" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (多行文本框) -->
            <div id="u1546" class="ax_default text_area">
              <textarea id="u1546_input"></textarea>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1547" class="ax_default label">
              <div id="u1547_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1548" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u1549" class="ax_default checkbox">
              <label for="u1549_input">
                <!-- Unnamed () -->
                <div id="u1550" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </label>
              <input id="u1549_input" type="checkbox" value="checkbox"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1551" class="ax_default box_1">
        <div id="u1551_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1552" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1553" class="ax_default box_1">
        <div id="u1553_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1554" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1555" class="ax_default box_1">
        <div id="u1555_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1556" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1557" class="ax_default label">
        <div id="u1557_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1558" class="text" style="visibility: visible;">
          <p><span>责任部门</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1559" class="ax_default label">
        <div id="u1559_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1560" class="text" style="visibility: visible;">
          <p><span>责任人</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
