<!DOCTYPE html>
<html>
  <head>
    <title>岗位调整</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/岗位调整/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/岗位调整/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u16090" class="ax_default _图片">
        <img id="u16090_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u16091" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u16092" class="ax_default line">
        <img id="u16092_img" class="img " src="images/岗位调整/u16092.png"/>
        <!-- Unnamed () -->
        <div id="u16093" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16094" class="ax_default label">
        <div id="u16094_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16095" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16096" class="ax_default label">
        <div id="u16096_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16097" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u16098" class="ax_default _图片">
        <img id="u16098_img" class="img " src="images/岗位调整/u16098.png"/>
        <!-- Unnamed () -->
        <div id="u16099" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u16100" class="ax_default _图片">
        <img id="u16100_img" class="img " src="images/岗位调整/u16100.png"/>
        <!-- Unnamed () -->
        <div id="u16101" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u16102" class="ax_default _图片">
        <img id="u16102_img" class="img " src="images/岗位调整/u16102.png"/>
        <!-- Unnamed () -->
        <div id="u16103" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u16104" class="ax_default html_button">
        <input id="u16104_input" type="submit" value="查询"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u16105" class="ax_default checkbox">
        <label for="u16105_input">
          <!-- Unnamed () -->
          <div id="u16106" class="text" style="visibility: visible;">
            <p><span>常春藤项目总控计划</span></p>
          </div>
        </label>
        <input id="u16105_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u16107" class="ax_default checkbox">
        <label for="u16107_input">
          <!-- Unnamed () -->
          <div id="u16108" class="text" style="visibility: visible;">
            <p><span>常春藤项目专项计划</span></p>
          </div>
        </label>
        <input id="u16107_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u16109" class="ax_default checkbox">
        <label for="u16109_input">
          <!-- Unnamed () -->
          <div id="u16110" class="text" style="visibility: visible;">
            <p><span>蔷薇国际项目专项计划</span></p>
          </div>
        </label>
        <input id="u16109_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16111" class="ax_default label">
        <div id="u16111_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16112" class="text" style="visibility: visible;">
          <p><span>运营中心总经理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16113" class="ax_default label">
        <div id="u16113_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16114" class="text" style="visibility: visible;">
          <p><span>运营中心总经理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16115" class="ax_default label">
        <div id="u16115_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16116" class="text" style="visibility: visible;">
          <p><span>运营中心总经理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16117" class="ax_default label">
        <div id="u16117_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16118" class="text" style="visibility: visible;">
          <p><span>集团运营中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16119" class="ax_default label">
        <div id="u16119_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16120" class="text" style="visibility: visible;">
          <p><span>集团运营中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16121" class="ax_default label">
        <div id="u16121_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16122" class="text" style="visibility: visible;">
          <p><span>集团运营中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16123" class="ax_default label">
        <div id="u16123_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16124" class="text" style="visibility: visible;">
          <p><span>张思越（zhangsiyue)</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16125" class="ax_default label">
        <div id="u16125_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16126" class="text" style="visibility: visible;">
          <p><span>张思越（zhangsiyue)</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16127" class="ax_default label">
        <div id="u16127_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16128" class="text" style="visibility: visible;">
          <p><span>张思越（zhangsiyue)</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16129" class="ax_default label">
        <div id="u16129_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16130" class="text" style="visibility: visible;">
          <p><span>2017-04-20</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16131" class="ax_default label">
        <div id="u16131_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16132" class="text" style="visibility: visible;">
          <p><span>2017-04-20</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16133" class="ax_default box_1">
        <div id="u16133_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16134" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16135" class="ax_default box_1">
        <div id="u16135_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16136" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u16137" class="ax_default _图片">
        <img id="u16137_img" class="img " src="images/岗位调整/u16137.png"/>
        <!-- Unnamed () -->
        <div id="u16138" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u16139" class="ax_default html_button">
        <input id="u16139_input" type="submit" value="调岗"/>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u16140" class="ax_default line">
        <img id="u16140_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u16141" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- 选择节点 (动态面板) -->
      <div id="u16142" class="ax_default ax_default_hidden" data-label="选择节点" style="display: none; visibility: hidden">
        <div id="u16142_state0" class="panel_state" data-label="State1">
          <div id="u16142_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u16143" class="ax_default box_1">
              <div id="u16143_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16144" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u16145" class="ax_default checkbox">
              <label for="u16145_input">
                <!-- Unnamed () -->
                <div id="u16146" class="text" style="visibility: visible;">
                  <p><span>180项目定制决策</span></p>
                </div>
              </label>
              <input id="u16145_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u16147" class="ax_default checkbox">
              <label for="u16147_input">
                <!-- Unnamed () -->
                <div id="u16148" class="text" style="visibility: visible;">
                  <p><span>结构限额设计标准汇报</span></p>
                </div>
              </label>
              <input id="u16147_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u16149" class="ax_default checkbox">
              <label for="u16149_input">
                <!-- Unnamed () -->
                <div id="u16150" class="text" style="visibility: visible;">
                  <p><span>双向承诺模板下发</span></p>
                </div>
              </label>
              <input id="u16149_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u16151" class="ax_default checkbox">
              <label for="u16151_input">
                <!-- Unnamed () -->
                <div id="u16152" class="text" style="visibility: visible;">
                  <p><span>常春藤项目专项计划</span></p>
                </div>
              </label>
              <input id="u16151_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (复选框) -->
            <div id="u16153" class="ax_default checkbox">
              <label for="u16153_input">
                <!-- Unnamed () -->
                <div id="u16154" class="text" style="visibility: visible;">
                  <p><span>蔷薇国际项目专项计划</span></p>
                </div>
              </label>
              <input id="u16153_input" type="checkbox" value="checkbox"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16155" class="ax_default label">
              <div id="u16155_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16156" class="text" style="visibility: visible;">
                <p><span>运营中心总经理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16157" class="ax_default label">
              <div id="u16157_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16158" class="text" style="visibility: visible;">
                <p><span>运营中心总经理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16159" class="ax_default label">
              <div id="u16159_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16160" class="text" style="visibility: visible;">
                <p><span>集团运营中心</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16161" class="ax_default label">
              <div id="u16161_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16162" class="text" style="visibility: visible;">
                <p><span>集团运营中心</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16163" class="ax_default label">
              <div id="u16163_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16164" class="text" style="visibility: visible;">
                <p><span>张思越（zhangsiyue)</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16165" class="ax_default label">
              <div id="u16165_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16166" class="text" style="visibility: visible;">
                <p><span>张思越（zhangsiyue)</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16167" class="ax_default label">
              <div id="u16167_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16168" class="text" style="visibility: visible;">
                <p><span>2017-04-20</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16169" class="ax_default label">
        <div id="u16169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16170" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16171" class="ax_default label">
        <div id="u16171_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16172" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16173" class="ax_default label">
        <div id="u16173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16174" class="text" style="visibility: visible;">
          <p><span>2017-04-20</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16175" class="ax_default box_1">
        <div id="u16175_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16176" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u16177" class="ax_default text_field">
        <input id="u16177_input" type="text" value=""/>
      </div>

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u16179" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u16180" class="ax_default label">
          <div id="u16180_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16181" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16182" class="ax_default label">
          <div id="u16182_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16183" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16184" class="ax_default label">
          <div id="u16184_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16185" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16186" class="ax_default label">
          <div id="u16186_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16187" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16188" class="ax_default label">
          <div id="u16188_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16189" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16190" class="ax_default label">
          <div id="u16190_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16191" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u16192" class="ax_default label">
          <div id="u16192_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16193" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u16194" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u16194_state0" class="panel_state" data-label="State1">
            <div id="u16194_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u16195" class="ax_default box_1">
                <div id="u16195_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16196" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16197" class="ax_default line">
                <img id="u16197_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u16198" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16199" class="ax_default label">
                <div id="u16199_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16200" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16201" class="ax_default label">
                <div id="u16201_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16202" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u16203" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u16178模板管理" style="display: none; visibility: hidden">
          <div id="u16203_state0" class="panel_state" data-label="State1">
            <div id="u16203_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u16204" class="ax_default box_1">
                <div id="u16204_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16205" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16206" class="ax_default line">
                <img id="u16206_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u16207" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16208" class="ax_default label">
                <div id="u16208_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16209" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16210" class="ax_default label">
                <div id="u16210_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16211" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u16212" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u16212_state0" class="panel_state" data-label="State1">
            <div id="u16212_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u16213" class="ax_default box_1">
                <div id="u16213_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16214" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16215" class="ax_default line">
                <img id="u16215_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u16216" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16217" class="ax_default label">
                <div id="u16217_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16218" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16219" class="ax_default line">
                <img id="u16219_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u16220" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16221" class="ax_default label">
                <div id="u16221_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16222" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16223" class="ax_default line">
                <img id="u16223_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u16224" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16225" class="ax_default label">
                <div id="u16225_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16226" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16227" class="ax_default line">
                <img id="u16227_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u16228" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16229" class="ax_default label">
                <div id="u16229_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16230" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16231" class="ax_default label">
                <div id="u16231_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16232" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16233" class="ax_default line">
                <img id="u16233_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u16234" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16235" class="ax_default label">
                <div id="u16235_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16236" class="text" style="visibility: visible;">
                  <p><span>计划导入</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u16237" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u16237_state0" class="panel_state" data-label="State1">
            <div id="u16237_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u16238" class="ax_default box_1">
                <div id="u16238_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16239" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16240" class="ax_default label">
                <div id="u16240_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16241" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16242" class="ax_default line">
                <img id="u16242_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u16243" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16244" class="ax_default label">
                <div id="u16244_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16245" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16246" class="ax_default line">
                <img id="u16246_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u16247" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16248" class="ax_default label">
                <div id="u16248_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16249" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16250" class="ax_default line">
                <img id="u16250_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u16251" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16252" class="ax_default label">
                <div id="u16252_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16253" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16254" class="ax_default line">
                <img id="u16254_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u16255" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16256" class="ax_default label">
                <div id="u16256_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16257" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16258" class="ax_default line">
                <img id="u16258_img" class="img " src="images/首页/u432.png"/>
                <!-- Unnamed () -->
                <div id="u16259" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16260" class="ax_default label">
                <div id="u16260_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16261" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u16262" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u16262_state0" class="panel_state" data-label="State1">
            <div id="u16262_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u16263" class="ax_default box_1">
                <div id="u16263_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16264" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16265" class="ax_default label">
                <div id="u16265_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16266" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16267" class="ax_default line">
                <img id="u16267_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u16268" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16269" class="ax_default label">
                <div id="u16269_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16270" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16271" class="ax_default line">
                <img id="u16271_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u16272" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16273" class="ax_default label">
                <div id="u16273_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16274" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16275" class="ax_default line">
                <img id="u16275_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u16276" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16277" class="ax_default label">
                <div id="u16277_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16278" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16279" class="ax_default line">
                <img id="u16279_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u16280" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16281" class="ax_default label">
                <div id="u16281_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16282" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u16283" class="ax_default line">
                <img id="u16283_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u16284" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u16285" class="ax_default label">
                <div id="u16285_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u16286" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 调整岗位 (动态面板) -->
      <div id="u16287" class="ax_default ax_default_hidden" data-label="调整岗位" style="display: none; visibility: hidden">
        <div id="u16287_state0" class="panel_state" data-label="State1">
          <div id="u16287_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u16288" class="ax_default box_1">
              <div id="u16288_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16289" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16290" class="ax_default box_1">
              <div id="u16290_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16291" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16292" class="ax_default label">
              <div id="u16292_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16293" class="text" style="visibility: visible;">
                <p><span>调整岗位</span></p>
              </div>
            </div>

            <!-- Unnamed (表格) -->
            <div id="u16294" class="ax_default">

              <!-- Unnamed (单元格) -->
              <div id="u16295" class="ax_default table_cell">
                <img id="u16295_img" class="img " src="images/岗位调整/u16295.png"/>
                <!-- Unnamed () -->
                <div id="u16296" class="text" style="visibility: visible;">
                  <p><span>计划/节点名称</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16297" class="ax_default table_cell">
                <img id="u16297_img" class="img " src="images/岗位调整/u16295.png"/>
                <!-- Unnamed () -->
                <div id="u16298" class="text" style="visibility: visible;">
                  <p><span>岗位名称</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16299" class="ax_default table_cell">
                <img id="u16299_img" class="img " src="images/岗位调整/u16295.png"/>
                <!-- Unnamed () -->
                <div id="u16300" class="text" style="visibility: visible;">
                  <p><span>所属部门</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16301" class="ax_default table_cell">
                <img id="u16301_img" class="img " src="images/岗位调整/u16295.png"/>
                <!-- Unnamed () -->
                <div id="u16302" class="text" style="visibility: visible;">
                  <p><span>在岗用户</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16303" class="ax_default table_cell">
                <img id="u16303_img" class="img " src="images/岗位调整/u16295.png"/>
                <!-- Unnamed () -->
                <div id="u16304" class="text" style="visibility: visible;">
                  <p><span>开始日期</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16305" class="ax_default table_cell">
                <img id="u16305_img" class="img " src="images/岗位调整/u16305.png"/>
                <!-- Unnamed () -->
                <div id="u16306" class="text" style="visibility: visible;">
                  <p><span>结束日期</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16307" class="ax_default table_cell">
                <img id="u16307_img" class="img " src="images/岗位调整/u16307.png"/>
                <!-- Unnamed () -->
                <div id="u16308" class="text" style="visibility: visible;">
                  <p><span>常春藤项目总控计划</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16309" class="ax_default table_cell">
                <img id="u16309_img" class="img " src="images/岗位调整/u16307.png"/>
                <!-- Unnamed () -->
                <div id="u16310" class="text" style="visibility: visible;">
                  <p><span>运营中心经理</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16311" class="ax_default table_cell">
                <img id="u16311_img" class="img " src="images/岗位调整/u16307.png"/>
                <!-- Unnamed () -->
                <div id="u16312" class="text" style="visibility: visible;">
                  <p><span>运营中心</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16313" class="ax_default table_cell">
                <img id="u16313_img" class="img " src="images/岗位调整/u16307.png"/>
                <!-- Unnamed () -->
                <div id="u16314" class="text" style="visibility: visible;">
                  <p><span>张思越（zhangsiyue)</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16315" class="ax_default table_cell">
                <img id="u16315_img" class="img " src="images/岗位调整/u16307.png"/>
                <!-- Unnamed () -->
                <div id="u16316" class="text" style="visibility: visible;">
                  <p><span>2017-04-20</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u16317" class="ax_default table_cell">
                <img id="u16317_img" class="img " src="images/岗位调整/u16317.png"/>
                <!-- Unnamed () -->
                <div id="u16318" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16319" class="ax_default label">
              <div id="u16319_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16320" class="text" style="visibility: visible;">
                <p><span>原用户岗位失效日期：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u16321" class="ax_default text_field">
              <input id="u16321_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16322" class="ax_default label">
              <div id="u16322_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16323" class="text" style="visibility: visible;">
                <p><span>调整后岗位人员：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u16324" class="ax_default text_field">
              <input id="u16324_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16325" class="ax_default button">
              <div id="u16325_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16326" class="text" style="visibility: visible;">
                <p><span>取消</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u16327" class="ax_default button">
              <div id="u16327_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u16328" class="text" style="visibility: visible;">
                <p><span>确定</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
