<!DOCTYPE html>
<html>
  <head>
    <title>模板信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/模板信息/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/模板信息/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u8357" class="ax_default _图片">
        <img id="u8357_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u8358" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u8359" class="ax_default line">
        <img id="u8359_img" class="img " src="images/模板信息/u8359.png"/>
        <!-- Unnamed () -->
        <div id="u8360" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8361" class="ax_default label">
        <div id="u8361_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8362" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8363" class="ax_default label">
        <div id="u8363_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8364" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8365" class="ax_default _图片">
        <img id="u8365_img" class="img " src="images/查看模板/u4720.png"/>
        <!-- Unnamed () -->
        <div id="u8366" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8367" class="ax_default _图片">
        <img id="u8367_img" class="img " src="images/模板信息/u8367.png"/>
        <!-- Unnamed () -->
        <div id="u8368" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8369" class="ax_default box_1">
        <div id="u8369_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8370" class="text" style="visibility: visible;">
          <p><span>下载模板</span></p>
        </div>
      </div>

      <!-- 查看节点 (动态面板) -->
      <div id="u8371" class="ax_default ax_default_hidden" data-label="查看节点" style="display: none; visibility: hidden">
        <div id="u8371_state0" class="panel_state" data-label="State1">
          <div id="u8371_state0_content" class="panel_state_content">

            <!-- 编辑节点 (图片) -->
            <div id="u8372" class="ax_default _图片" data-label="编辑节点">
              <img id="u8372_img" class="img " src="images/模板信息/编辑节点_u8372.png"/>
              <!-- Unnamed () -->
              <div id="u8373" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8374" class="ax_default box_1">
              <div id="u8374_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8375" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8376" class="ax_default box_1">
              <div id="u8376_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8377" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8378" class="ax_default box_1">
              <div id="u8378_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8379" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8380" class="ax_default label">
              <div id="u8380_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8381" class="text" style="visibility: visible;">
                <p><span>查看节点</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 取消编辑 (矩形) -->
      <div id="u8382" class="ax_default label" data-label="取消编辑">
        <div id="u8382_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8383" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8384" class="ax_default box_1">
        <div id="u8384_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8385" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u8386" class="ax_default line">
        <img id="u8386_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u8387" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8388" class="ax_default box_1">
        <div id="u8388_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8389" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8390" class="ax_default label">
        <div id="u8390_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8391" class="text" style="visibility: visible;">
          <p><span style="font-family:'Arial Negreta', 'Arial Normal', 'Arial';font-weight:700;">计划类型：</span><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">总控计划</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8392" class="ax_default box_1">
        <div id="u8392_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8393" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8394" class="ax_default label">
        <div id="u8394_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8395" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8396" class="ax_default label">
        <div id="u8396_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8397" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8398" class="ax_default label">
        <div id="u8398_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8399" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8400" class="ax_default label">
        <div id="u8400_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8401" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8402" class="ax_default label">
        <div id="u8402_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8403" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8404" class="ax_default label">
        <div id="u8404_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8405" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8406" class="ax_default label">
        <div id="u8406_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8407" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8408" class="ax_default label">
        <div id="u8408_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8409" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8410" class="ax_default label">
        <div id="u8410_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8411" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8412" class="ax_default label">
        <div id="u8412_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8413" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8414" class="ax_default label">
        <div id="u8414_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8415" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8416" class="ax_default label">
        <div id="u8416_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8417" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8418" class="ax_default label">
        <div id="u8418_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8419" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8420" class="ax_default label">
        <div id="u8420_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8421" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8422" class="ax_default label">
        <div id="u8422_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8423" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8424" class="ax_default label">
        <div id="u8424_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8425" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8426" class="ax_default label">
        <div id="u8426_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8427" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8428" class="ax_default label">
        <div id="u8428_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8429" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8430" class="ax_default label">
        <div id="u8430_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8431" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8432" class="ax_default label">
        <div id="u8432_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8433" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8434" class="ax_default label">
        <div id="u8434_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8435" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8436" class="ax_default label">
        <div id="u8436_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8437" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8438" class="ax_default label">
        <div id="u8438_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8439" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8440" class="ax_default label">
        <div id="u8440_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8441" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8442" class="ax_default label">
        <div id="u8442_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8443" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8444" class="ax_default label">
        <div id="u8444_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8445" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8446" class="ax_default box_1">
        <div id="u8446_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8447" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u8449" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u8450" class="ax_default label">
          <div id="u8450_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8451" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8452" class="ax_default label">
          <div id="u8452_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8453" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8454" class="ax_default label">
          <div id="u8454_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8455" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8456" class="ax_default label">
          <div id="u8456_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8457" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8458" class="ax_default label">
          <div id="u8458_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8459" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8460" class="ax_default label">
          <div id="u8460_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8461" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8462" class="ax_default label">
          <div id="u8462_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8463" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u8464" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u8464_state0" class="panel_state" data-label="State1">
            <div id="u8464_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8465" class="ax_default box_1">
                <div id="u8465_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8466" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8467" class="ax_default line">
                <img id="u8467_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u8468" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8469" class="ax_default label">
                <div id="u8469_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8470" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8471" class="ax_default label">
                <div id="u8471_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8472" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u8473" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u8448模板管理" style="display: none; visibility: hidden">
          <div id="u8473_state0" class="panel_state" data-label="State1">
            <div id="u8473_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8474" class="ax_default box_1">
                <div id="u8474_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8475" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8476" class="ax_default line">
                <img id="u8476_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u8477" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8478" class="ax_default label">
                <div id="u8478_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8479" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8480" class="ax_default label">
                <div id="u8480_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8481" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u8482" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u8482_state0" class="panel_state" data-label="State1">
            <div id="u8482_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8483" class="ax_default box_1">
                <div id="u8483_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8484" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8485" class="ax_default line">
                <img id="u8485_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8486" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8487" class="ax_default label">
                <div id="u8487_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8488" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8489" class="ax_default line">
                <img id="u8489_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8490" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8491" class="ax_default label">
                <div id="u8491_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8492" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8493" class="ax_default line">
                <img id="u8493_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8494" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8495" class="ax_default label">
                <div id="u8495_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8496" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8497" class="ax_default line">
                <img id="u8497_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8498" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8499" class="ax_default label">
                <div id="u8499_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8500" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8501" class="ax_default label">
                <div id="u8501_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8502" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u8503" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u8503_state0" class="panel_state" data-label="State1">
            <div id="u8503_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8504" class="ax_default box_1">
                <div id="u8504_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8505" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8506" class="ax_default label">
                <div id="u8506_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8507" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8508" class="ax_default line">
                <img id="u8508_img" class="img " src="images/首页/u412.png"/>
                <!-- Unnamed () -->
                <div id="u8509" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8510" class="ax_default label">
                <div id="u8510_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8511" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8512" class="ax_default line">
                <img id="u8512_img" class="img " src="images/首页/u412.png"/>
                <!-- Unnamed () -->
                <div id="u8513" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8514" class="ax_default label">
                <div id="u8514_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8515" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8516" class="ax_default line">
                <img id="u8516_img" class="img " src="images/首页/u412.png"/>
                <!-- Unnamed () -->
                <div id="u8517" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8518" class="ax_default label">
                <div id="u8518_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8519" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8520" class="ax_default line">
                <img id="u8520_img" class="img " src="images/首页/u412.png"/>
                <!-- Unnamed () -->
                <div id="u8521" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8522" class="ax_default label">
                <div id="u8522_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8523" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8524" class="ax_default line">
                <img id="u8524_img" class="img " src="images/首页/u428.png"/>
                <!-- Unnamed () -->
                <div id="u8525" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8526" class="ax_default label">
                <div id="u8526_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8527" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u8528" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u8528_state0" class="panel_state" data-label="State1">
            <div id="u8528_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8529" class="ax_default box_1">
                <div id="u8529_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8530" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8531" class="ax_default label">
                <div id="u8531_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8532" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8533" class="ax_default line">
                <img id="u8533_img" class="img " src="images/首页/u437.png"/>
                <!-- Unnamed () -->
                <div id="u8534" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8535" class="ax_default label">
                <div id="u8535_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8536" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8537" class="ax_default line">
                <img id="u8537_img" class="img " src="images/首页/u437.png"/>
                <!-- Unnamed () -->
                <div id="u8538" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8539" class="ax_default label">
                <div id="u8539_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8540" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8541" class="ax_default line">
                <img id="u8541_img" class="img " src="images/首页/u437.png"/>
                <!-- Unnamed () -->
                <div id="u8542" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8543" class="ax_default label">
                <div id="u8543_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8544" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8545" class="ax_default line">
                <img id="u8545_img" class="img " src="images/首页/u437.png"/>
                <!-- Unnamed () -->
                <div id="u8546" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8547" class="ax_default label">
                <div id="u8547_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8548" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8549" class="ax_default line">
                <img id="u8549_img" class="img " src="images/首页/u437.png"/>
                <!-- Unnamed () -->
                <div id="u8550" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8551" class="ax_default label">
                <div id="u8551_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8552" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
