<!DOCTYPE html>
<html>
  <head>
    <title>窗口期设置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/窗口期设置/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/窗口期设置/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u15345" class="ax_default _图片">
        <img id="u15345_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u15346" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15347" class="ax_default line">
        <img id="u15347_img" class="img " src="images/窗口期设置/u15347.png"/>
        <!-- Unnamed () -->
        <div id="u15348" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15349" class="ax_default label">
        <div id="u15349_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15350" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15351" class="ax_default label">
        <div id="u15351_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15352" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15353" class="ax_default line">
        <img id="u15353_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u15354" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u15355" class="ax_default _图片">
        <img id="u15355_img" class="img " src="images/窗口期设置/u15355.png"/>
        <!-- Unnamed () -->
        <div id="u15356" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15357" class="ax_default box_1">
        <div id="u15357_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15358" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15359" class="ax_default label">
        <div id="u15359_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15360" class="text" style="visibility: visible;">
          <p><span>时间范围：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u15361" class="ax_default text_field">
        <input id="u15361_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15362" class="ax_default label">
        <div id="u15362_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15363" class="text" style="visibility: visible;">
          <p><span>—至—</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u15364" class="ax_default text_field">
        <input id="u15364_input" type="text" value=""/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u15365" class="ax_default _图片">
        <img id="u15365_img" class="img " src="images/窗口期设置/u15365.png"/>
        <!-- Unnamed () -->
        <div id="u15366" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15367" class="ax_default box_1">
        <div id="u15367_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15368" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15369" class="ax_default box_1">
        <div id="u15369_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15370" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15371" class="ax_default box_1">
        <div id="u15371_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15372" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15373" class="ax_default label">
        <div id="u15373_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15374" class="text" style="visibility: visible;">
          <p><span>窗口期管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15375" class="ax_default label">
        <div id="u15375_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15376" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15377" class="ax_default box_1">
        <div id="u15377_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15378" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15379" class="ax_default label">
        <div id="u15379_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15380" class="text" style="visibility: visible;">
          <p><span>操作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15381" class="ax_default label">
        <div id="u15381_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15382" class="text" style="visibility: visible;">
          <p><span>序号</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15383" class="ax_default label">
        <div id="u15383_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15384" class="text" style="visibility: visible;">
          <p><span>时间周期</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15385" class="ax_default label">
        <div id="u15385_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15386" class="text" style="visibility: visible;">
          <p><span>项目范围</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15387" class="ax_default line">
        <img id="u15387_img" class="img " src="images/窗口期设置/u15387.png"/>
        <!-- Unnamed () -->
        <div id="u15388" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15389" class="ax_default line">
        <img id="u15389_img" class="img " src="images/窗口期设置/u15387.png"/>
        <!-- Unnamed () -->
        <div id="u15390" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15391" class="ax_default line">
        <img id="u15391_img" class="img " src="images/窗口期设置/u15387.png"/>
        <!-- Unnamed () -->
        <div id="u15392" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u15393" class="ax_default line">
        <img id="u15393_img" class="img " src="images/窗口期设置/u15387.png"/>
        <!-- Unnamed () -->
        <div id="u15394" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15395" class="ax_default label">
        <div id="u15395_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15396" class="text" style="visibility: visible;">
          <p><span>1</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15397" class="ax_default label">
        <div id="u15397_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15398" class="text" style="visibility: visible;">
          <p><span>2</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15399" class="ax_default label">
        <div id="u15399_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15400" class="text" style="visibility: visible;">
          <p><span>3</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15401" class="ax_default label">
        <div id="u15401_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15402" class="text" style="visibility: visible;">
          <p><span>4</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15403" class="ax_default label">
        <div id="u15403_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15404" class="text" style="visibility: visible;">
          <p><span>2017-01-01 —至— 2017-12-31</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15405" class="ax_default label">
        <div id="u15405_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15406" class="text" style="visibility: visible;">
          <p><span>2017-03-01 —至— 2017-06-30</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15407" class="ax_default label">
        <div id="u15407_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15408" class="text" style="visibility: visible;">
          <p><span>2017-01-01 —至— 2017-02-28</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15409" class="ax_default label">
        <div id="u15409_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15410" class="text" style="visibility: visible;">
          <p><span>2017-09-01 —至— 2017-12-31</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15411" class="ax_default label">
        <div id="u15411_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15412" class="text" style="visibility: visible;">
          <p><span>编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15413" class="ax_default label">
        <div id="u15413_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15414" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15415" class="ax_default label">
        <div id="u15415_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15416" class="text" style="visibility: visible;">
          <p><span>编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15417" class="ax_default label">
        <div id="u15417_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15418" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15419" class="ax_default label">
        <div id="u15419_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15420" class="text" style="visibility: visible;">
          <p><span>编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15421" class="ax_default label">
        <div id="u15421_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15422" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15423" class="ax_default label">
        <div id="u15423_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15424" class="text" style="visibility: visible;">
          <p><span>编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15425" class="ax_default label">
        <div id="u15425_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15426" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15427" class="ax_default label">
        <div id="u15427_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15428" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15429" class="ax_default label">
        <div id="u15429_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15430" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15431" class="ax_default label">
        <div id="u15431_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15432" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15433" class="ax_default label">
        <div id="u15433_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15434" class="text" style="visibility: visible;">
          <p><span>查看</span></p>
        </div>
      </div>

      <!-- 查看项目范围 (动态面板) -->
      <div id="u15435" class="ax_default ax_default_hidden" data-label="查看项目范围" style="display: none; visibility: hidden">
        <div id="u15435_state0" class="panel_state" data-label="State1">
          <div id="u15435_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u15436" class="ax_default box_1">
              <div id="u15436_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15437" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15438" class="ax_default box_1">
              <div id="u15438_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15439" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15440" class="ax_default label">
              <div id="u15440_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15441" class="text" style="visibility: visible;">
                <p><span>项目范围</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15442" class="ax_default label">
              <div id="u15442_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15443" class="text" style="visibility: visible;">
                <p><span>项目名称：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u15444" class="ax_default text_field">
              <input id="u15444_input" type="text" value=""/>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15445" class="ax_default line">
              <img id="u15445_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15446" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15447" class="ax_default line">
              <img id="u15447_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15448" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15449" class="ax_default line">
              <img id="u15449_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15450" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15451" class="ax_default line">
              <img id="u15451_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15452" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15453" class="ax_default line">
              <img id="u15453_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15454" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15455" class="ax_default line">
              <img id="u15455_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15456" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15457" class="ax_default line">
              <img id="u15457_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15458" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15459" class="ax_default line">
              <img id="u15459_img" class="img " src="images/窗口期设置/u15445.png"/>
              <!-- Unnamed () -->
              <div id="u15460" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (提交按钮) -->
            <div id="u15461" class="ax_default html_button">
              <input id="u15461_input" type="submit" value="关闭"/>
            </div>

            <!-- Unnamed (提交按钮) -->
            <div id="u15462" class="ax_default html_button">
              <input id="u15462_input" type="submit" value="查询"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15463" class="ax_default label">
              <div id="u15463_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15464" class="text" style="visibility: visible;">
                <p><span>序号</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15465" class="ax_default label">
              <div id="u15465_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15466" class="text" style="visibility: visible;">
                <p><span>项目名称</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15467" class="ax_default label">
              <div id="u15467_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15468" class="text" style="visibility: visible;">
                <p><span>1</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15469" class="ax_default label">
              <div id="u15469_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15470" class="text" style="visibility: visible;">
                <p><span>蔷薇国际-蔷薇国际地块1-蔷薇国际组团1</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15471" class="ax_default label">
              <div id="u15471_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15472" class="text" style="visibility: visible;">
                <p><span>2</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15473" class="ax_default label">
              <div id="u15473_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15474" class="text" style="visibility: visible;">
                <p><span>蔷薇国际-蔷薇国际地块2-蔷薇国际组团2</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15475" class="ax_default label">
              <div id="u15475_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15476" class="text" style="visibility: visible;">
                <p><span>3</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15477" class="ax_default label">
              <div id="u15477_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15478" class="text" style="visibility: visible;">
                <p><span>常春藤-常春藤地块-组团</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 新增窗口期 (动态面板) -->
      <div id="u15479" class="ax_default ax_default_hidden" data-label="新增窗口期" style="display: none; visibility: hidden">
        <div id="u15479_state0" class="panel_state" data-label="State1">
          <div id="u15479_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u15480" class="ax_default box_1">
              <div id="u15480_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15481" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15482" class="ax_default box_1">
              <div id="u15482_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15483" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15484" class="ax_default label">
              <div id="u15484_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15485" class="text" style="visibility: visible;">
                <p><span>设置时间周期：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u15486" class="ax_default text_field">
              <input id="u15486_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15487" class="ax_default label">
              <div id="u15487_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15488" class="text" style="visibility: visible;">
                <p><span>—至—</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u15489" class="ax_default text_field">
              <input id="u15489_input" type="text" value=""/>
            </div>

            <!-- Unnamed (提交按钮) -->
            <div id="u15490" class="ax_default html_button">
              <input id="u15490_input" type="submit" value="取消"/>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u15491" class="ax_default _图片">
              <img id="u15491_img" class="img " src="images/计划变更_信息/u11120.png"/>
              <!-- Unnamed () -->
              <div id="u15492" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15493" class="ax_default box_1">
              <div id="u15493_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15494" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15495" class="ax_default box_1">
              <div id="u15495_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15496" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15497" class="ax_default box_1">
              <div id="u15497_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15498" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15499" class="ax_default label">
              <div id="u15499_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15500" class="text" style="visibility: visible;">
                <p><span>项目名称</span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15501" class="ax_default line">
              <img id="u15501_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15502" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15503" class="ax_default line">
              <img id="u15503_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15504" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15505" class="ax_default line">
              <img id="u15505_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15506" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15507" class="ax_default line">
              <img id="u15507_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15508" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15509" class="ax_default line">
              <img id="u15509_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15510" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15511" class="ax_default line">
              <img id="u15511_img" class="img " src="images/窗口期设置/u15501.png"/>
              <!-- Unnamed () -->
              <div id="u15512" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15513" class="ax_default box_1">
              <div id="u15513_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15514" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15515" class="ax_default label">
              <div id="u15515_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15516" class="text" style="visibility: visible;">
                <p><span>项目名称</span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15517" class="ax_default line">
              <img id="u15517_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15518" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15519" class="ax_default line">
              <img id="u15519_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15520" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15521" class="ax_default line">
              <img id="u15521_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15522" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15523" class="ax_default line">
              <img id="u15523_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15524" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15525" class="ax_default line">
              <img id="u15525_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15526" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u15527" class="ax_default line">
              <img id="u15527_img" class="img " src="images/窗口期设置/u15517.png"/>
              <!-- Unnamed () -->
              <div id="u15528" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15529" class="ax_default label">
              <div id="u15529_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15530" class="text" style="visibility: visible;">
                <p><span>蔷薇国际项目-地块A1-组团a1</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15531" class="ax_default label">
              <div id="u15531_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15532" class="text" style="visibility: visible;">
                <p><span>蔷薇国际项目-地块A1-组团a2</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15533" class="ax_default label">
              <div id="u15533_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15534" class="text" style="visibility: visible;">
                <p><span>常春藤项目-地跨A1-地块a1</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15535" class="ax_default label">
              <div id="u15535_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15536" class="text" style="visibility: visible;">
                <p><span>项目名称：</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u15537" class="ax_default text_field">
              <input id="u15537_input" type="text" value=""/>
            </div>

            <!-- Unnamed (提交按钮) -->
            <div id="u15538" class="ax_default html_button">
              <input id="u15538_input" type="submit" value="查询"/>
            </div>

            <!-- Unnamed (提交按钮) -->
            <div id="u15539" class="ax_default html_button">
              <input id="u15539_input" type="submit" value="确定"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15540" class="ax_default label">
              <div id="u15540_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15541" class="text" style="visibility: visible;">
                <p><span>新增窗口期</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u15543" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u15544" class="ax_default label">
          <div id="u15544_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15545" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15546" class="ax_default label">
          <div id="u15546_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15547" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15548" class="ax_default label">
          <div id="u15548_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15549" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15550" class="ax_default label">
          <div id="u15550_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15551" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15552" class="ax_default label">
          <div id="u15552_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15553" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15554" class="ax_default label">
          <div id="u15554_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15555" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15556" class="ax_default label">
          <div id="u15556_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15557" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u15558" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u15558_state0" class="panel_state" data-label="State1">
            <div id="u15558_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15559" class="ax_default box_1">
                <div id="u15559_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15560" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15561" class="ax_default line">
                <img id="u15561_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u15562" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15563" class="ax_default label">
                <div id="u15563_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15564" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15565" class="ax_default label">
                <div id="u15565_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15566" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u15567" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u15542模板管理" style="display: none; visibility: hidden">
          <div id="u15567_state0" class="panel_state" data-label="State1">
            <div id="u15567_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15568" class="ax_default box_1">
                <div id="u15568_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15569" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15570" class="ax_default line">
                <img id="u15570_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u15571" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15572" class="ax_default label">
                <div id="u15572_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15573" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15574" class="ax_default label">
                <div id="u15574_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15575" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u15576" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u15576_state0" class="panel_state" data-label="State1">
            <div id="u15576_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15577" class="ax_default box_1">
                <div id="u15577_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15578" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15579" class="ax_default line">
                <img id="u15579_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15580" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15581" class="ax_default label">
                <div id="u15581_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15582" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15583" class="ax_default line">
                <img id="u15583_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15584" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15585" class="ax_default label">
                <div id="u15585_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15586" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15587" class="ax_default line">
                <img id="u15587_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15588" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15589" class="ax_default label">
                <div id="u15589_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15590" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15591" class="ax_default line">
                <img id="u15591_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15592" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15593" class="ax_default label">
                <div id="u15593_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15594" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15595" class="ax_default label">
                <div id="u15595_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15596" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15597" class="ax_default line">
                <img id="u15597_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15598" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15599" class="ax_default label">
                <div id="u15599_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15600" class="text" style="visibility: visible;">
                  <p><span>计划导入</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u15601" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u15601_state0" class="panel_state" data-label="State1">
            <div id="u15601_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15602" class="ax_default box_1">
                <div id="u15602_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15603" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15604" class="ax_default label">
                <div id="u15604_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15605" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15606" class="ax_default line">
                <img id="u15606_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15607" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15608" class="ax_default label">
                <div id="u15608_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15609" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15610" class="ax_default line">
                <img id="u15610_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15611" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15612" class="ax_default label">
                <div id="u15612_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15613" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15614" class="ax_default line">
                <img id="u15614_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15615" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15616" class="ax_default label">
                <div id="u15616_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15617" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15618" class="ax_default line">
                <img id="u15618_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15619" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15620" class="ax_default label">
                <div id="u15620_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15621" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15622" class="ax_default line">
                <img id="u15622_img" class="img " src="images/首页/u432.png"/>
                <!-- Unnamed () -->
                <div id="u15623" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15624" class="ax_default label">
                <div id="u15624_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15625" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u15626" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u15626_state0" class="panel_state" data-label="State1">
            <div id="u15626_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15627" class="ax_default box_1">
                <div id="u15627_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15628" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15629" class="ax_default label">
                <div id="u15629_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15630" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15631" class="ax_default line">
                <img id="u15631_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15632" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15633" class="ax_default label">
                <div id="u15633_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15634" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15635" class="ax_default line">
                <img id="u15635_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15636" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15637" class="ax_default label">
                <div id="u15637_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15638" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15639" class="ax_default line">
                <img id="u15639_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15640" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15641" class="ax_default label">
                <div id="u15641_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15642" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15643" class="ax_default line">
                <img id="u15643_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15644" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15645" class="ax_default label">
                <div id="u15645_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15646" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15647" class="ax_default line">
                <img id="u15647_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15648" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15649" class="ax_default label">
                <div id="u15649_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15650" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
