<!DOCTYPE html>
<html>
  <head>
    <title>考核复查</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/考核复查/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/考核复查/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u14901" class="ax_default _图片">
        <img id="u14901_img" class="img " src="images/节点变更审批/u2195.png"/>
        <!-- Unnamed () -->
        <div id="u14902" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u14903" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u14904" class="ax_default table_cell">
          <img id="u14904_img" class="img " src="images/考核复查/u14904.png"/>
          <!-- Unnamed () -->
          <div id="u14905" class="text" style="visibility: visible;">
            <p><span>计划名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14906" class="ax_default table_cell">
          <img id="u14906_img" class="img " src="images/考核复查/u14906.png"/>
          <!-- Unnamed () -->
          <div id="u14907" class="text" style="visibility: visible;">
            <p><span>计划类型</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14908" class="ax_default table_cell">
          <img id="u14908_img" class="img " src="images/考核复查/u14908.png"/>
          <!-- Unnamed () -->
          <div id="u14909" class="text" style="visibility: visible;">
            <p><span>计划业态</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14910" class="ax_default table_cell">
          <img id="u14910_img" class="img " src="images/考核复查/u14910.png"/>
          <!-- Unnamed () -->
          <div id="u14911" class="text" style="visibility: visible;">
            <p><span>项目名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14912" class="ax_default table_cell">
          <img id="u14912_img" class="img " src="images/考核复查/u14912.png"/>
          <!-- Unnamed () -->
          <div id="u14913" class="text" style="visibility: visible;">
            <p><span>创建人</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14914" class="ax_default table_cell">
          <img id="u14914_img" class="img " src="images/考核复查/u14914.png"/>
          <!-- Unnamed () -->
          <div id="u14915" class="text" style="visibility: visible;">
            <p><span>状态</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14916" class="ax_default table_cell">
          <img id="u14916_img" class="img " src="images/考核复查/u14916.png"/>
          <!-- Unnamed () -->
          <div id="u14917" class="text" style="visibility: visible;">
            <p><span>设置</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14918" class="ax_default table_cell">
          <img id="u14918_img" class="img " src="images/考核复查/u14918.png"/>
          <!-- Unnamed () -->
          <div id="u14919" class="text" style="visibility: visible;">
            <p><span>安吉一、二级节点计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14920" class="ax_default table_cell">
          <img id="u14920_img" class="img " src="images/考核复查/u14920.png"/>
          <!-- Unnamed () -->
          <div id="u14921" class="text" style="visibility: visible;">
            <p><span>一、二级节点计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14922" class="ax_default table_cell">
          <img id="u14922_img" class="img " src="images/考核复查/u14922.png"/>
          <!-- Unnamed () -->
          <div id="u14923" class="text" style="visibility: visible;">
            <p><span>酒店</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14924" class="ax_default table_cell">
          <img id="u14924_img" class="img " src="images/考核复查/u14924.png"/>
          <!-- Unnamed () -->
          <div id="u14925" class="text" style="visibility: visible;">
            <p><span>安吉项目-地块A1-组团a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14926" class="ax_default table_cell">
          <img id="u14926_img" class="img " src="images/考核复查/u14926.png"/>
          <!-- Unnamed () -->
          <div id="u14927" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14928" class="ax_default table_cell">
          <img id="u14928_img" class="img " src="images/考核复查/u14928.png"/>
          <!-- Unnamed () -->
          <div id="u14929" class="text" style="visibility: visible;">
            <p><span>变更确认</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14930" class="ax_default table_cell">
          <img id="u14930_img" class="img " src="images/考核复查/u14930.png"/>
          <!-- Unnamed () -->
          <div id="u14931" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14932" class="ax_default table_cell">
          <img id="u14932_img" class="img " src="images/考核复查/u14918.png"/>
          <!-- Unnamed () -->
          <div id="u14933" class="text" style="visibility: visible;">
            <p><span>安吉总控计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14934" class="ax_default table_cell">
          <img id="u14934_img" class="img " src="images/考核复查/u14920.png"/>
          <!-- Unnamed () -->
          <div id="u14935" class="text" style="visibility: visible;">
            <p><span>总控计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14936" class="ax_default table_cell">
          <img id="u14936_img" class="img " src="images/考核复查/u14922.png"/>
          <!-- Unnamed () -->
          <div id="u14937" class="text" style="visibility: visible;">
            <p><span>住宅</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14938" class="ax_default table_cell">
          <img id="u14938_img" class="img " src="images/考核复查/u14924.png"/>
          <!-- Unnamed () -->
          <div id="u14939" class="text" style="visibility: visible;">
            <p><span>安吉项目-地块A1-组团a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14940" class="ax_default table_cell">
          <img id="u14940_img" class="img " src="images/考核复查/u14926.png"/>
          <!-- Unnamed () -->
          <div id="u14941" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14942" class="ax_default table_cell">
          <img id="u14942_img" class="img " src="images/考核复查/u14928.png"/>
          <!-- Unnamed () -->
          <div id="u14943" class="text" style="visibility: visible;">
            <p><span>变更确认</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14944" class="ax_default table_cell">
          <img id="u14944_img" class="img " src="images/考核复查/u14930.png"/>
          <!-- Unnamed () -->
          <div id="u14945" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14946" class="ax_default table_cell">
          <img id="u14946_img" class="img " src="images/考核复查/u14946.png"/>
          <!-- Unnamed () -->
          <div id="u14947" class="text" style="visibility: visible;">
            <p><span>安吉专项计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14948" class="ax_default table_cell">
          <img id="u14948_img" class="img " src="images/考核复查/u14948.png"/>
          <!-- Unnamed () -->
          <div id="u14949" class="text" style="visibility: visible;">
            <p><span>专项计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14950" class="ax_default table_cell">
          <img id="u14950_img" class="img " src="images/考核复查/u14950.png"/>
          <!-- Unnamed () -->
          <div id="u14951" class="text" style="visibility: visible;">
            <p><span>别墅</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14952" class="ax_default table_cell">
          <img id="u14952_img" class="img " src="images/考核复查/u14952.png"/>
          <!-- Unnamed () -->
          <div id="u14953" class="text" style="visibility: visible;">
            <p><span>安吉项目-地块A1-组团a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14954" class="ax_default table_cell">
          <img id="u14954_img" class="img " src="images/考核复查/u14954.png"/>
          <!-- Unnamed () -->
          <div id="u14955" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14956" class="ax_default table_cell">
          <img id="u14956_img" class="img " src="images/考核复查/u14956.png"/>
          <!-- Unnamed () -->
          <div id="u14957" class="text" style="visibility: visible;">
            <p><span>已确认</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u14958" class="ax_default table_cell">
          <img id="u14958_img" class="img " src="images/考核复查/u14958.png"/>
          <!-- Unnamed () -->
          <div id="u14959" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u14960" class="ax_default">

        <!-- Unnamed (表格) -->
        <div id="u14961" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u14962" class="ax_default table_cell">
            <img id="u14962_img" class="img " src="images/项目列表/u5704.png"/>
            <!-- Unnamed () -->
            <div id="u14963" class="text" style="visibility: visible;">
              <p><span>上一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u14964" class="ax_default table_cell">
            <img id="u14964_img" class="img " src="images/项目列表/u5706.png"/>
            <!-- Unnamed () -->
            <div id="u14965" class="text" style="visibility: visible;">
              <p><span>下一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u14966" class="ax_default table_cell">
            <img id="u14966_img" class="img " src="images/项目列表/u5708.png"/>
            <!-- Unnamed () -->
            <div id="u14967" class="text" style="visibility: visible;">
              <p><span>当前页：1/1</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u14968" class="ax_default table_cell">
            <img id="u14968_img" class="img " src="images/项目列表/u5710.png"/>
            <!-- Unnamed () -->
            <div id="u14969" class="text" style="visibility: visible;">
              <p><span>跳转至</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u14970" class="ax_default text_field">
          <input id="u14970_input" type="text" value=""/>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u14971" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u14972" class="ax_default table_cell">
            <img id="u14972_img" class="img " src="images/项目列表/u5714.png"/>
            <!-- Unnamed () -->
            <div id="u14973" class="text" style="visibility: visible;">
              <p><span>页</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u14974" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u14975" class="ax_default table_cell">
            <img id="u14975_img" class="img " src="images/项目列表/u5717.png"/>
            <!-- Unnamed () -->
            <div id="u14976" class="text" style="visibility: visible;">
              <p><span>共有3条数据</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u14977" class="ax_default line">
        <img id="u14977_img" class="img " src="images/考核复查/u14977.png"/>
        <!-- Unnamed () -->
        <div id="u14978" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14979" class="ax_default box_1">
        <div id="u14979_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14980" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u14981" class="ax_default _图片">
        <img id="u14981_img" class="img " src="images/计划列表/u7484.png"/>
        <!-- Unnamed () -->
        <div id="u14982" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14983" class="ax_default label">
        <div id="u14983_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14984" class="text" style="visibility: visible;">
          <p><span>计划类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u14985" class="ax_default droplist">
        <select id="u14985_input">
          <option selected value="全部">全部</option>
          <option value="一、二级节点计划">一、二级节点计划</option>
          <option value="总控计划">总控计划</option>
          <option value="专项计划">专项计划</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u14986" class="ax_default droplist">
        <select id="u14986_input">
          <option selected value="全部">全部</option>
          <option value="酒店">酒店</option>
          <option value="住宅">住宅</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14987" class="ax_default label">
        <div id="u14987_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14988" class="text" style="visibility: visible;">
          <p><span>项目名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u14989" class="ax_default text_field">
        <input id="u14989_input" type="text" value=""/>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u14990" class="ax_default html_button">
        <input id="u14990_input" type="submit" value="查询"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u14991" class="ax_default _图片">
        <img id="u14991_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u14992" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u14993" class="ax_default line">
        <img id="u14993_img" class="img " src="images/草稿创建计划/u8668.png"/>
        <!-- Unnamed () -->
        <div id="u14994" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14995" class="ax_default label">
        <div id="u14995_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14996" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14997" class="ax_default label">
        <div id="u14997_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14998" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u14999" class="ax_default line">
        <img id="u14999_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u15000" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15001" class="ax_default label">
        <div id="u15001_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15002" class="text" style="visibility: visible;">
          <p><span>计划业态：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15003" class="ax_default label">
        <div id="u15003_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15004" class="text" style="visibility: visible;">
          <p><span>计划名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u15005" class="ax_default text_field">
        <input id="u15005_input" type="text" value=""/>
      </div>

      <!-- 查看修改日期历史版本 (动态面板) -->
      <div id="u15006" class="ax_default ax_default_hidden" data-label="查看修改日期历史版本" style="display: none; visibility: hidden">
        <div id="u15006_state0" class="panel_state" data-label="State1">
          <div id="u15006_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u15007" class="ax_default _图片">
              <img id="u15007_img" class="img " src="images/考核复查/u15007.png"/>
              <!-- Unnamed () -->
              <div id="u15008" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u15009" class="ax_default label">
              <div id="u15009_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u15010" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u15012" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u15013" class="ax_default label">
          <div id="u15013_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15014" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15015" class="ax_default label">
          <div id="u15015_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15016" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15017" class="ax_default label">
          <div id="u15017_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15018" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15019" class="ax_default label">
          <div id="u15019_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15020" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15021" class="ax_default label">
          <div id="u15021_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15022" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15023" class="ax_default label">
          <div id="u15023_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15024" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u15025" class="ax_default label">
          <div id="u15025_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u15026" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u15027" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u15027_state0" class="panel_state" data-label="State1">
            <div id="u15027_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15028" class="ax_default box_1">
                <div id="u15028_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15029" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15030" class="ax_default line">
                <img id="u15030_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u15031" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15032" class="ax_default label">
                <div id="u15032_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15033" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15034" class="ax_default label">
                <div id="u15034_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15035" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u15036" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u15011模板管理" style="display: none; visibility: hidden">
          <div id="u15036_state0" class="panel_state" data-label="State1">
            <div id="u15036_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15037" class="ax_default box_1">
                <div id="u15037_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15038" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15039" class="ax_default line">
                <img id="u15039_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u15040" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15041" class="ax_default label">
                <div id="u15041_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15042" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15043" class="ax_default label">
                <div id="u15043_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15044" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u15045" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u15045_state0" class="panel_state" data-label="State1">
            <div id="u15045_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15046" class="ax_default box_1">
                <div id="u15046_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15047" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15048" class="ax_default line">
                <img id="u15048_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15049" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15050" class="ax_default label">
                <div id="u15050_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15051" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15052" class="ax_default line">
                <img id="u15052_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15053" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15054" class="ax_default label">
                <div id="u15054_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15055" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15056" class="ax_default line">
                <img id="u15056_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15057" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15058" class="ax_default label">
                <div id="u15058_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15059" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15060" class="ax_default line">
                <img id="u15060_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15061" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15062" class="ax_default label">
                <div id="u15062_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15063" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15064" class="ax_default label">
                <div id="u15064_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15065" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15066" class="ax_default line">
                <img id="u15066_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u15067" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15068" class="ax_default label">
                <div id="u15068_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15069" class="text" style="visibility: visible;">
                  <p><span>计划导入</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u15070" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u15070_state0" class="panel_state" data-label="State1">
            <div id="u15070_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15071" class="ax_default box_1">
                <div id="u15071_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15072" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15073" class="ax_default label">
                <div id="u15073_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15074" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15075" class="ax_default line">
                <img id="u15075_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15076" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15077" class="ax_default label">
                <div id="u15077_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15078" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15079" class="ax_default line">
                <img id="u15079_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15080" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15081" class="ax_default label">
                <div id="u15081_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15082" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15083" class="ax_default line">
                <img id="u15083_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15084" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15085" class="ax_default label">
                <div id="u15085_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15086" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15087" class="ax_default line">
                <img id="u15087_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u15088" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15089" class="ax_default label">
                <div id="u15089_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15090" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15091" class="ax_default line">
                <img id="u15091_img" class="img " src="images/首页/u432.png"/>
                <!-- Unnamed () -->
                <div id="u15092" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15093" class="ax_default label">
                <div id="u15093_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15094" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u15095" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u15095_state0" class="panel_state" data-label="State1">
            <div id="u15095_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u15096" class="ax_default box_1">
                <div id="u15096_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15097" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15098" class="ax_default label">
                <div id="u15098_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15099" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15100" class="ax_default line">
                <img id="u15100_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15101" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15102" class="ax_default label">
                <div id="u15102_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15103" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15104" class="ax_default line">
                <img id="u15104_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15105" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15106" class="ax_default label">
                <div id="u15106_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15107" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15108" class="ax_default line">
                <img id="u15108_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15109" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15110" class="ax_default label">
                <div id="u15110_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15111" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15112" class="ax_default line">
                <img id="u15112_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15113" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15114" class="ax_default label">
                <div id="u15114_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15115" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u15116" class="ax_default line">
                <img id="u15116_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u15117" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u15118" class="ax_default label">
                <div id="u15118_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u15119" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15120" class="ax_default label">
        <div id="u15120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15121" class="text" style="visibility: visible;">
          <p><span>计划列表</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u15122" class="ax_default line">
        <img id="u15122_img" class="img " src="images/考核复查/u15122.png"/>
        <!-- Unnamed () -->
        <div id="u15123" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u15124" class="ax_default line">
        <img id="u15124_img" class="img " src="images/考核复查/u15124.png"/>
        <!-- Unnamed () -->
        <div id="u15125" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
