<!DOCTYPE html>
<html>
  <head>
    <title>节点延期</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/节点延期/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/节点延期/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u1923" class="ax_default _图片">
        <img id="u1923_img" class="img " src="images/中期任务填报/u463.png"/>
        <!-- Unnamed () -->
        <div id="u1924" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1925" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u1926" class="ax_default table_cell">
          <img id="u1926_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1927" class="text" style="visibility: visible;">
            <p><span>计划开始日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1928" class="ax_default table_cell">
          <img id="u1928_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1929" class="text" style="visibility: visible;">
            <p><span>2017-03-01</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1930" class="ax_default table_cell">
          <img id="u1930_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1931" class="text" style="visibility: visible;">
            <p><span>计划完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1932" class="ax_default table_cell">
          <img id="u1932_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1933" class="text" style="visibility: visible;">
            <p><span>2017-04-30</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1934" class="ax_default table_cell">
          <img id="u1934_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1935" class="text" style="visibility: visible;">
            <p><span>实际完成日期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1936" class="ax_default table_cell">
          <img id="u1936_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1937" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1938" class="ax_default table_cell">
          <img id="u1938_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1939" class="text" style="visibility: visible;">
            <p><span>计划阶段：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1940" class="ax_default table_cell">
          <img id="u1940_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1941" class="text" style="visibility: visible;">
            <p><span>招采</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1942" class="ax_default table_cell">
          <img id="u1942_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1943" class="text" style="visibility: visible;">
            <p><span>节点周期：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1944" class="ax_default table_cell">
          <img id="u1944_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1945" class="text" style="visibility: visible;">
            <p><span>61</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1946" class="ax_default table_cell">
          <img id="u1946_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1947" class="text" style="visibility: visible;">
            <p><span>节点级别：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1948" class="ax_default table_cell">
          <img id="u1948_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1949" class="text" style="visibility: visible;">
            <p><span>3级</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1950" class="ax_default table_cell">
          <img id="u1950_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1951" class="text" style="visibility: visible;">
            <p><span>发起部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1952" class="ax_default table_cell">
          <img id="u1952_img" class="img " src="images/中期任务填报/u523.png"/>
          <!-- Unnamed () -->
          <div id="u1953" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1954" class="ax_default table_cell">
          <img id="u1954_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1955" class="text" style="visibility: visible;">
            <p><span>接收部门：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1956" class="ax_default table_cell">
          <img id="u1956_img" class="img " src="images/中期任务填报/u527.png"/>
          <!-- Unnamed () -->
          <div id="u1957" class="text" style="visibility: visible;">
            <p><span>区域公司</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1958" class="ax_default table_cell">
          <img id="u1958_img" class="img " src="images/中期任务填报/u521.png"/>
          <!-- Unnamed () -->
          <div id="u1959" class="text" style="visibility: visible;">
            <p><span>完成标准：</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u1960" class="ax_default table_cell">
          <img id="u1960_img" class="img " src="images/中期任务填报/u531.png"/>
          <!-- Unnamed () -->
          <div id="u1961" class="text" style="visibility: visible;">
            <p><span>定标审批完成，上传定标审批完成OA截图</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1962" class="ax_default box_1">
        <div id="u1962_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1963" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1964" class="ax_default _图片">
        <img id="u1964_img" class="img " src="images/中期任务填报/u467.png"/>
        <!-- Unnamed () -->
        <div id="u1965" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1966" class="ax_default _图片">
        <img id="u1966_img" class="img " src="images/中期任务填报/u469.png"/>
        <!-- Unnamed () -->
        <div id="u1967" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1968" class="ax_default box_1">
        <div id="u1968_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1969" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1970" class="ax_default label">
        <div id="u1970_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1971" class="text" style="visibility: visible;">
          <p><span>中期节点</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1972" class="ax_default label">
        <div id="u1972_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1973" class="text" style="visibility: visible;">
          <p><span>土地摘牌</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1974" class="ax_default box_1">
        <div id="u1974_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1975" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u1976" class="ax_default _图片">
        <img id="u1976_img" class="img " src="images/中期任务填报/u496.png"/>
        <!-- Unnamed () -->
        <div id="u1977" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u1978" class="ax_default line">
        <img id="u1978_img" class="img " src="images/预计延期完成/u863.png"/>
        <!-- Unnamed () -->
        <div id="u1979" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1980" class="ax_default line">
        <img id="u1980_img" class="img " src="images/中期任务填报/u500.png"/>
        <!-- Unnamed () -->
        <div id="u1981" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1982" class="ax_default box_1">
        <div id="u1982_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1983" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1984" class="ax_default box_1">
        <div id="u1984_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1985" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1986" class="ax_default line">
        <img id="u1986_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1987" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1988" class="ax_default line">
        <img id="u1988_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1989" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u1990" class="ax_default line">
        <img id="u1990_img" class="img " src="images/中期任务填报/u557.png"/>
        <!-- Unnamed () -->
        <div id="u1991" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u1992" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u1993" class="ax_default">

          <!-- Unnamed (表格) -->
          <div id="u1994" class="ax_default">

            <!-- Unnamed (单元格) -->
            <div id="u1995" class="ax_default table_cell">
              <img id="u1995_img" class="img " src="images/节点延期/u1995.png"/>
              <!-- Unnamed () -->
              <div id="u1996" class="text" style="visibility: visible;">
                <p><span>填报人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1997" class="ax_default table_cell">
              <img id="u1997_img" class="img " src="images/节点延期/u1997.png"/>
              <!-- Unnamed () -->
              <div id="u1998" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u1999" class="ax_default table_cell">
              <img id="u1999_img" class="img " src="images/节点延期/u1999.png"/>
              <!-- Unnamed () -->
              <div id="u2000" class="text" style="visibility: visible;">
                <p><span>计划完成日期：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2001" class="ax_default table_cell">
              <img id="u2001_img" class="img " src="images/节点延期/u2001.png"/>
              <!-- Unnamed () -->
              <div id="u2002" class="text" style="visibility: visible;">
                <p style="font-size:13px;"><span style="color:#666666;">2017-05-30&nbsp; </span><span style="font-size:11px;color:#FF0000;">注意：仍按计划完成日期2017-04-30考核</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2003" class="ax_default table_cell">
              <img id="u2003_img" class="img " src="images/节点延期/u1995.png"/>
              <!-- Unnamed () -->
              <div id="u2004" class="text" style="visibility: visible;">
                <p><span>审批人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2005" class="ax_default table_cell">
              <img id="u2005_img" class="img " src="images/节点延期/u1997.png"/>
              <!-- Unnamed () -->
              <div id="u2006" class="text" style="visibility: visible;">
                <p><span>王继民&nbsp; &nbsp;&nbsp; 、邵连云&nbsp; &nbsp;&nbsp; 、张云武&nbsp; &nbsp;&nbsp; 、叶天赐&nbsp; &nbsp;&nbsp; 、吴泽</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2007" class="ax_default table_cell">
              <img id="u2007_img" class="img " src="images/节点延期/u1999.png"/>
              <!-- Unnamed () -->
              <div id="u2008" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2009" class="ax_default table_cell">
              <img id="u2009_img" class="img " src="images/节点延期/u2001.png"/>
              <!-- Unnamed () -->
              <div id="u2010" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2011" class="ax_default table_cell">
              <img id="u2011_img" class="img " src="images/节点延期/u1995.png"/>
              <!-- Unnamed () -->
              <div id="u2012" class="text" style="visibility: visible;">
                <p><span>抄送人：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2013" class="ax_default table_cell">
              <img id="u2013_img" class="img " src="images/节点延期/u1997.png"/>
              <!-- Unnamed () -->
              <div id="u2014" class="text" style="visibility: visible;">
                <p><span>赵果</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2015" class="ax_default table_cell">
              <img id="u2015_img" class="img " src="images/节点延期/u1999.png"/>
              <!-- Unnamed () -->
              <div id="u2016" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2017" class="ax_default table_cell">
              <img id="u2017_img" class="img " src="images/节点延期/u2001.png"/>
              <!-- Unnamed () -->
              <div id="u2018" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2019" class="ax_default table_cell">
              <img id="u2019_img" class="img " src="images/节点延期/u2019.png"/>
              <!-- Unnamed () -->
              <div id="u2020" class="text" style="visibility: visible;">
                <p><span>填报附件：</span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2021" class="ax_default table_cell">
              <img id="u2021_img" class="img " src="images/节点延期/u2021.png"/>
              <!-- Unnamed () -->
              <div id="u2022" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2023" class="ax_default table_cell">
              <img id="u2023_img" class="img " src="images/节点延期/u2023.png"/>
              <!-- Unnamed () -->
              <div id="u2024" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u2025" class="ax_default table_cell">
              <img id="u2025_img" class="img " src="images/节点延期/u2025.png"/>
              <!-- Unnamed () -->
              <div id="u2026" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u2027" class="ax_default line">
            <img id="u2027_img" class="img " src="images/中期任务填报/u590.png"/>
            <!-- Unnamed () -->
            <div id="u2028" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u2029" class="ax_default line">
            <img id="u2029_img" class="img " src="images/中期任务填报/u592.png"/>
            <!-- Unnamed () -->
            <div id="u2030" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u2031" class="ax_default line">
            <img id="u2031_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u2032" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u2033" class="ax_default line">
            <img id="u2033_img" class="img " src="images/中期任务填报/u594.png"/>
            <!-- Unnamed () -->
            <div id="u2034" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2035" class="ax_default _图片">
        <img id="u2035_img" class="img " src="images/中期任务填报/u675.png"/>
        <!-- Unnamed () -->
        <div id="u2036" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2037" class="ax_default _图片">
        <img id="u2037_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2038" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2039" class="ax_default _图片">
        <img id="u2039_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2040" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2041" class="ax_default _图片">
        <img id="u2041_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2042" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2043" class="ax_default _图片">
        <img id="u2043_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2044" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2045" class="ax_default _图片">
        <img id="u2045_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2046" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2047" class="ax_default _图片">
        <img id="u2047_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2048" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2049" class="ax_default _图片">
        <img id="u2049_img" class="img " src="images/预计按时完成/u809.png"/>
        <!-- Unnamed () -->
        <div id="u2050" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2051" class="ax_default box_1">
        <div id="u2051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2052" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2053" class="ax_default _图片">
        <img id="u2053_img" class="img " src="images/提前完成/u1125.png"/>
        <!-- Unnamed () -->
        <div id="u2054" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2055" class="ax_default">

        <!-- Unnamed (图片) -->
        <div id="u2056" class="ax_default _图片">
          <img id="u2056_img" class="img " src="images/中期任务填报/u465.png"/>
          <!-- Unnamed () -->
          <div id="u2057" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2058" class="ax_default box_1">
          <div id="u2058_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2059" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u2060" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u2061" class="ax_default box_1">
            <div id="u2061_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u2062" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u2063" class="ax_default label">
            <div id="u2063_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u2064" class="text" style="visibility: visible;">
              <p><span>转办</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
