<!DOCTYPE html>
<html>
  <head>
    <title>计划草稿</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/计划草稿/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/计划草稿/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片) -->
      <div id="u8443" class="ax_default _图片">
        <img id="u8443_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u8444" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u8445" class="ax_default line">
        <img id="u8445_img" class="img " src="images/创建项目/u6248.png"/>
        <!-- Unnamed () -->
        <div id="u8446" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8447" class="ax_default label">
        <div id="u8447_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8448" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8449" class="ax_default label">
        <div id="u8449_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8450" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8451" class="ax_default box_1">
        <div id="u8451_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8452" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8453" class="ax_default _图片">
        <img id="u8453_img" class="img " src="images/计划列表/u7484.png"/>
        <!-- Unnamed () -->
        <div id="u8454" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8455" class="ax_default label">
        <div id="u8455_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8456" class="text" style="visibility: visible;">
          <p><span>计划类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u8457" class="ax_default droplist">
        <select id="u8457_input">
          <option selected value="-请选择-">-请选择-</option>
          <option value="一级项目">一级项目</option>
          <option value="二级项目">二级项目</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u8458" class="ax_default droplist">
        <select id="u8458_input">
          <option selected value="-请选择-">-请选择-</option>
          <option value="一级项目计划">一级项目计划</option>
          <option value="二级项目计划">二级项目计划</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8459" class="ax_default label">
        <div id="u8459_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8460" class="text" style="visibility: visible;">
          <p><span>模板名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8461" class="ax_default label">
        <div id="u8461_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8462" class="text" style="visibility: visible;">
          <p><span>创建时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u8463" class="ax_default text_field">
        <input id="u8463_input" type="text" value=""/>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u8464" class="ax_default html_button">
        <input id="u8464_input" type="submit" value="查询"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8465" class="ax_default label">
        <div id="u8465_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8466" class="text" style="visibility: visible;">
          <p><span>至</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u8467" class="ax_default text_field">
        <input id="u8467_input" type="text" value=""/>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u8468" class="ax_default line">
        <img id="u8468_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u8469" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u8470" class="ax_default _图片">
        <img id="u8470_img" class="img " src="images/节点变更审批/u2195.png"/>
        <!-- Unnamed () -->
        <div id="u8471" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8472" class="ax_default label">
        <div id="u8472_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8473" class="text" style="visibility: visible;">
          <p><span>计划列表</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u8474" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u8475" class="ax_default table_cell">
          <img id="u8475_img" class="img " src="images/计划草稿/u8475.png"/>
          <!-- Unnamed () -->
          <div id="u8476" class="text" style="visibility: visible;">
            <p><span>草稿名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8477" class="ax_default table_cell">
          <img id="u8477_img" class="img " src="images/计划草稿/u8477.png"/>
          <!-- Unnamed () -->
          <div id="u8478" class="text" style="visibility: visible;">
            <p><span>计划类型</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8479" class="ax_default table_cell">
          <img id="u8479_img" class="img " src="images/计划草稿/u8479.png"/>
          <!-- Unnamed () -->
          <div id="u8480" class="text" style="visibility: visible;">
            <p><span>计划业态</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8481" class="ax_default table_cell">
          <img id="u8481_img" class="img " src="images/计划草稿/u8481.png"/>
          <!-- Unnamed () -->
          <div id="u8482" class="text" style="visibility: visible;">
            <p><span>模板名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8483" class="ax_default table_cell">
          <img id="u8483_img" class="img " src="images/计划草稿/u8483.png"/>
          <!-- Unnamed () -->
          <div id="u8484" class="text" style="visibility: visible;">
            <p><span>创建人</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8485" class="ax_default table_cell">
          <img id="u8485_img" class="img " src="images/计划草稿/u8485.png"/>
          <!-- Unnamed () -->
          <div id="u8486" class="text" style="visibility: visible;">
            <p><span>创建时间</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8487" class="ax_default table_cell">
          <img id="u8487_img" class="img " src="images/计划草稿/u8487.png"/>
          <!-- Unnamed () -->
          <div id="u8488" class="text" style="visibility: visible;">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8489" class="ax_default table_cell">
          <img id="u8489_img" class="img " src="images/计划草稿/u8489.png"/>
          <!-- Unnamed () -->
          <div id="u8490" class="text" style="visibility: visible;">
            <p><span>计划草稿（安吉总控计划）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8491" class="ax_default table_cell">
          <img id="u8491_img" class="img " src="images/计划草稿/u8491.png"/>
          <!-- Unnamed () -->
          <div id="u8492" class="text" style="visibility: visible;">
            <p><span>总控计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8493" class="ax_default table_cell">
          <img id="u8493_img" class="img " src="images/计划草稿/u8493.png"/>
          <!-- Unnamed () -->
          <div id="u8494" class="text" style="visibility: visible;">
            <p><span>酒店</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8495" class="ax_default table_cell">
          <img id="u8495_img" class="img " src="images/计划草稿/u8495.png"/>
          <!-- Unnamed () -->
          <div id="u8496" class="text" style="visibility: visible;">
            <p><span>总控计划模板</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8497" class="ax_default table_cell">
          <img id="u8497_img" class="img " src="images/计划草稿/u8497.png"/>
          <!-- Unnamed () -->
          <div id="u8498" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8499" class="ax_default table_cell">
          <img id="u8499_img" class="img " src="images/计划草稿/u8499.png"/>
          <!-- Unnamed () -->
          <div id="u8500" class="text" style="visibility: visible;">
            <p><span>2017-04-14</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8501" class="ax_default table_cell">
          <img id="u8501_img" class="img " src="images/计划草稿/u8501.png"/>
          <!-- Unnamed () -->
          <div id="u8502" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8503" class="ax_default table_cell">
          <img id="u8503_img" class="img " src="images/计划草稿/u8489.png"/>
          <!-- Unnamed () -->
          <div id="u8504" class="text" style="visibility: visible;">
            <p><span>计划草稿（安吉一、二级节点计划）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8505" class="ax_default table_cell">
          <img id="u8505_img" class="img " src="images/计划草稿/u8491.png"/>
          <!-- Unnamed () -->
          <div id="u8506" class="text" style="visibility: visible;">
            <p><span>一、二级节点计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8507" class="ax_default table_cell">
          <img id="u8507_img" class="img " src="images/计划草稿/u8493.png"/>
          <!-- Unnamed () -->
          <div id="u8508" class="text" style="visibility: visible;">
            <p><span>住宅</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8509" class="ax_default table_cell">
          <img id="u8509_img" class="img " src="images/计划草稿/u8495.png"/>
          <!-- Unnamed () -->
          <div id="u8510" class="text" style="visibility: visible;">
            <p><span>一、二级节点计划模板</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8511" class="ax_default table_cell">
          <img id="u8511_img" class="img " src="images/计划草稿/u8497.png"/>
          <!-- Unnamed () -->
          <div id="u8512" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8513" class="ax_default table_cell">
          <img id="u8513_img" class="img " src="images/计划草稿/u8499.png"/>
          <!-- Unnamed () -->
          <div id="u8514" class="text" style="visibility: visible;">
            <p><span>2017-03-12</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8515" class="ax_default table_cell">
          <img id="u8515_img" class="img " src="images/计划草稿/u8501.png"/>
          <!-- Unnamed () -->
          <div id="u8516" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8517" class="ax_default table_cell">
          <img id="u8517_img" class="img " src="images/计划草稿/u8517.png"/>
          <!-- Unnamed () -->
          <div id="u8518" class="text" style="visibility: visible;">
            <p><span>计划草稿（安吉专项计划）</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8519" class="ax_default table_cell">
          <img id="u8519_img" class="img " src="images/计划草稿/u8519.png"/>
          <!-- Unnamed () -->
          <div id="u8520" class="text" style="visibility: visible;">
            <p><span>专项计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8521" class="ax_default table_cell">
          <img id="u8521_img" class="img " src="images/计划草稿/u8521.png"/>
          <!-- Unnamed () -->
          <div id="u8522" class="text" style="visibility: visible;">
            <p><span>酒店</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8523" class="ax_default table_cell">
          <img id="u8523_img" class="img " src="images/计划草稿/u8523.png"/>
          <!-- Unnamed () -->
          <div id="u8524" class="text" style="visibility: visible;">
            <p><span>专项计划模板</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8525" class="ax_default table_cell">
          <img id="u8525_img" class="img " src="images/计划草稿/u8525.png"/>
          <!-- Unnamed () -->
          <div id="u8526" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8527" class="ax_default table_cell">
          <img id="u8527_img" class="img " src="images/计划草稿/u8527.png"/>
          <!-- Unnamed () -->
          <div id="u8528" class="text" style="visibility: visible;">
            <p><span>-2017-04-12</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u8529" class="ax_default table_cell">
          <img id="u8529_img" class="img " src="images/计划草稿/u8529.png"/>
          <!-- Unnamed () -->
          <div id="u8530" class="text" style="visibility: visible;">
            <p><span>删除</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u8531" class="ax_default text_field">
        <input id="u8531_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8532" class="ax_default label">
        <div id="u8532_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8533" class="text" style="visibility: visible;">
          <p><span>计划业态：</span></p>
        </div>
      </div>

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u8535" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u8536" class="ax_default label">
          <div id="u8536_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8537" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8538" class="ax_default label">
          <div id="u8538_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8539" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8540" class="ax_default label">
          <div id="u8540_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8541" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8542" class="ax_default label">
          <div id="u8542_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8543" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8544" class="ax_default label">
          <div id="u8544_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8545" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8546" class="ax_default label">
          <div id="u8546_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8547" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8548" class="ax_default label">
          <div id="u8548_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8549" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u8550" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u8550_state0" class="panel_state" data-label="State1">
            <div id="u8550_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8551" class="ax_default box_1">
                <div id="u8551_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8552" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8553" class="ax_default line">
                <img id="u8553_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u8554" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8555" class="ax_default label">
                <div id="u8555_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8556" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8557" class="ax_default label">
                <div id="u8557_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8558" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u8559" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u8534模板管理" style="display: none; visibility: hidden">
          <div id="u8559_state0" class="panel_state" data-label="State1">
            <div id="u8559_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8560" class="ax_default box_1">
                <div id="u8560_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8561" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8562" class="ax_default line">
                <img id="u8562_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u8563" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8564" class="ax_default label">
                <div id="u8564_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8565" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8566" class="ax_default label">
                <div id="u8566_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8567" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u8568" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u8568_state0" class="panel_state" data-label="State1">
            <div id="u8568_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8569" class="ax_default box_1">
                <div id="u8569_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8570" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8571" class="ax_default line">
                <img id="u8571_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8572" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8573" class="ax_default label">
                <div id="u8573_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8574" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8575" class="ax_default line">
                <img id="u8575_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8576" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8577" class="ax_default label">
                <div id="u8577_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8578" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8579" class="ax_default line">
                <img id="u8579_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8580" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8581" class="ax_default label">
                <div id="u8581_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8582" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8583" class="ax_default line">
                <img id="u8583_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8584" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8585" class="ax_default label">
                <div id="u8585_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8586" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8587" class="ax_default label">
                <div id="u8587_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8588" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8589" class="ax_default line">
                <img id="u8589_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u8590" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8591" class="ax_default label">
                <div id="u8591_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8592" class="text" style="visibility: visible;">
                  <p><span>计划导入</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u8593" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u8593_state0" class="panel_state" data-label="State1">
            <div id="u8593_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8594" class="ax_default box_1">
                <div id="u8594_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8595" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8596" class="ax_default label">
                <div id="u8596_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8597" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8598" class="ax_default line">
                <img id="u8598_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u8599" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8600" class="ax_default label">
                <div id="u8600_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8601" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8602" class="ax_default line">
                <img id="u8602_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u8603" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8604" class="ax_default label">
                <div id="u8604_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8605" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8606" class="ax_default line">
                <img id="u8606_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u8607" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8608" class="ax_default label">
                <div id="u8608_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8609" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8610" class="ax_default line">
                <img id="u8610_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u8611" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8612" class="ax_default label">
                <div id="u8612_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8613" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8614" class="ax_default line">
                <img id="u8614_img" class="img " src="images/首页/u432.png"/>
                <!-- Unnamed () -->
                <div id="u8615" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8616" class="ax_default label">
                <div id="u8616_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8617" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u8618" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u8618_state0" class="panel_state" data-label="State1">
            <div id="u8618_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u8619" class="ax_default box_1">
                <div id="u8619_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8620" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8621" class="ax_default label">
                <div id="u8621_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8622" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8623" class="ax_default line">
                <img id="u8623_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u8624" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8625" class="ax_default label">
                <div id="u8625_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8626" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8627" class="ax_default line">
                <img id="u8627_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u8628" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8629" class="ax_default label">
                <div id="u8629_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8630" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8631" class="ax_default line">
                <img id="u8631_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u8632" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8633" class="ax_default label">
                <div id="u8633_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8634" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8635" class="ax_default line">
                <img id="u8635_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u8636" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8637" class="ax_default label">
                <div id="u8637_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8638" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u8639" class="ax_default line">
                <img id="u8639_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u8640" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u8641" class="ax_default label">
                <div id="u8641_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8642" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u8643" class="ax_default">

        <!-- Unnamed (表格) -->
        <div id="u8644" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u8645" class="ax_default table_cell">
            <img id="u8645_img" class="img " src="images/项目列表/u5704.png"/>
            <!-- Unnamed () -->
            <div id="u8646" class="text" style="visibility: visible;">
              <p><span>上一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u8647" class="ax_default table_cell">
            <img id="u8647_img" class="img " src="images/项目列表/u5706.png"/>
            <!-- Unnamed () -->
            <div id="u8648" class="text" style="visibility: visible;">
              <p><span>下一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u8649" class="ax_default table_cell">
            <img id="u8649_img" class="img " src="images/项目列表/u5708.png"/>
            <!-- Unnamed () -->
            <div id="u8650" class="text" style="visibility: visible;">
              <p><span>当前页：1/1</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u8651" class="ax_default table_cell">
            <img id="u8651_img" class="img " src="images/项目列表/u5710.png"/>
            <!-- Unnamed () -->
            <div id="u8652" class="text" style="visibility: visible;">
              <p><span>跳转至</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u8653" class="ax_default text_field">
          <input id="u8653_input" type="text" value=""/>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u8654" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u8655" class="ax_default table_cell">
            <img id="u8655_img" class="img " src="images/项目列表/u5714.png"/>
            <!-- Unnamed () -->
            <div id="u8656" class="text" style="visibility: visible;">
              <p><span>页</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u8657" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u8658" class="ax_default table_cell">
            <img id="u8658_img" class="img " src="images/项目列表/u5717.png"/>
            <!-- Unnamed () -->
            <div id="u8659" class="text" style="visibility: visible;">
              <p><span>共有3条数据</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u8660" class="ax_default line">
        <img id="u8660_img" class="img " src="images/计划草稿/u8660.png"/>
        <!-- Unnamed () -->
        <div id="u8661" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u8662" class="ax_default line">
        <img id="u8662_img" class="img " src="images/计划草稿/u8662.png"/>
        <!-- Unnamed () -->
        <div id="u8663" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u8664" class="ax_default line">
        <img id="u8664_img" class="img " src="images/计划草稿/u8664.png"/>
        <!-- Unnamed () -->
        <div id="u8665" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
