<!DOCTYPE html>
<html>
  <head>
    <title>计划变更</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/计划变更/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/计划变更/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (菜单) -->

      <!-- Unnamed (组合) -->
      <div id="u10697" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u10698" class="ax_default label">
          <div id="u10698_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10699" class="text" style="visibility: visible;">
            <p><span>首页</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10700" class="ax_default label">
          <div id="u10700_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10701" class="text" style="visibility: visible;">
            <p><span>项目总览</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10702" class="ax_default label">
          <div id="u10702_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10703" class="text" style="visibility: visible;">
            <p><span>模板管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10704" class="ax_default label">
          <div id="u10704_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10705" class="text" style="visibility: visible;">
            <p><span>项目管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10706" class="ax_default label">
          <div id="u10706_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10707" class="text" style="visibility: visible;">
            <p><span>计划管理</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10708" class="ax_default label">
          <div id="u10708_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10709" class="text" style="visibility: visible;">
            <p><span>统计查询</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u10710" class="ax_default label">
          <div id="u10710_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10711" class="text" style="visibility: visible;">
            <p><span>系统管理</span></p>
          </div>
        </div>

        <!-- 项目管理菜单 (动态面板) -->
        <div id="u10712" class="ax_default ax_default_hidden" data-label="项目管理菜单" style="display: none; visibility: hidden">
          <div id="u10712_state0" class="panel_state" data-label="State1">
            <div id="u10712_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u10713" class="ax_default box_1">
                <div id="u10713_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10714" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10715" class="ax_default line">
                <img id="u10715_img" class="img " src="images/首页/u371.png"/>
                <!-- Unnamed () -->
                <div id="u10716" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10717" class="ax_default label">
                <div id="u10717_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10718" class="text" style="visibility: visible;">
                  <p><span>项目列表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10719" class="ax_default label">
                <div id="u10719_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10720" class="text" style="visibility: visible;">
                  <p><span>项目创建</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 模板管理菜单 (动态面板) -->
        <div id="u10721" class="ax_default ax_default_hidden" data-label="模板管理菜单" selectiongroup="u10696模板管理" style="display: none; visibility: hidden">
          <div id="u10721_state0" class="panel_state" data-label="State1">
            <div id="u10721_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u10722" class="ax_default box_1">
                <div id="u10722_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10723" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10724" class="ax_default line">
                <img id="u10724_img" class="img " src="images/首页/u380.png"/>
                <!-- Unnamed () -->
                <div id="u10725" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10726" class="ax_default label">
                <div id="u10726_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10727" class="text" style="visibility: visible;">
                  <p><span>模板导入</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10728" class="ax_default label">
                <div id="u10728_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10729" class="text" style="visibility: visible;">
                  <p><span>模板列表</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 计划管理菜单 (动态面板) -->
        <div id="u10730" class="ax_default ax_default_hidden" data-label="计划管理菜单" style="display: none; visibility: hidden">
          <div id="u10730_state0" class="panel_state" data-label="State1">
            <div id="u10730_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u10731" class="ax_default box_1">
                <div id="u10731_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10732" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10733" class="ax_default line">
                <img id="u10733_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u10734" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10735" class="ax_default label">
                <div id="u10735_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10736" class="text" style="visibility: visible;">
                  <p><span>计划列表</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10737" class="ax_default line">
                <img id="u10737_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u10738" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10739" class="ax_default label">
                <div id="u10739_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10740" class="text" style="visibility: visible;">
                  <p><span>计划创建</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10741" class="ax_default line">
                <img id="u10741_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u10742" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10743" class="ax_default label">
                <div id="u10743_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10744" class="text" style="visibility: visible;">
                  <p><span>计划草稿</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10745" class="ax_default line">
                <img id="u10745_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u10746" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10747" class="ax_default label">
                <div id="u10747_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10748" class="text" style="visibility: visible;">
                  <p><span>计划发布</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10749" class="ax_default label">
                <div id="u10749_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10750" class="text" style="visibility: visible;">
                  <p><span>计划变更</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10751" class="ax_default line">
                <img id="u10751_img" class="img " src="images/首页/u389.png"/>
                <!-- Unnamed () -->
                <div id="u10752" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10753" class="ax_default label">
                <div id="u10753_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10754" class="text" style="visibility: visible;">
                  <p><span>计划导入</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 统计查询菜单 (动态面板) -->
        <div id="u10755" class="ax_default ax_default_hidden" data-label="统计查询菜单" style="display: none; visibility: hidden">
          <div id="u10755_state0" class="panel_state" data-label="State1">
            <div id="u10755_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u10756" class="ax_default box_1">
                <div id="u10756_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10757" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10758" class="ax_default label">
                <div id="u10758_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10759" class="text" style="visibility: visible;">
                  <p><span>节点查询</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10760" class="ax_default line">
                <img id="u10760_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u10761" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10762" class="ax_default label">
                <div id="u10762_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10763" class="text" style="visibility: visible;">
                  <p><span>考核封存</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10764" class="ax_default line">
                <img id="u10764_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u10765" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10766" class="ax_default label">
                <div id="u10766_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10767" class="text" style="visibility: visible;">
                  <p><span>考核汇总</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10768" class="ax_default line">
                <img id="u10768_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u10769" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10770" class="ax_default label">
                <div id="u10770_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10771" class="text" style="visibility: visible;">
                  <p><span>项目考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10772" class="ax_default line">
                <img id="u10772_img" class="img " src="images/首页/u416.png"/>
                <!-- Unnamed () -->
                <div id="u10773" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10774" class="ax_default label">
                <div id="u10774_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10775" class="text" style="visibility: visible;">
                  <p><span>部门考核排名</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10776" class="ax_default line">
                <img id="u10776_img" class="img " src="images/首页/u432.png"/>
                <!-- Unnamed () -->
                <div id="u10777" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10778" class="ax_default label">
                <div id="u10778_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10779" class="text" style="visibility: visible;">
                  <p><span>个人考核排名</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 系统管理菜单 (动态面板) -->
        <div id="u10780" class="ax_default ax_default_hidden" data-label="系统管理菜单" style="display: none; visibility: hidden">
          <div id="u10780_state0" class="panel_state" data-label="State1">
            <div id="u10780_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u10781" class="ax_default box_1">
                <div id="u10781_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10782" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10783" class="ax_default label">
                <div id="u10783_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10784" class="text" style="visibility: visible;">
                  <p><span>岗位调整</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10785" class="ax_default line">
                <img id="u10785_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u10786" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10787" class="ax_default label">
                <div id="u10787_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10788" class="text" style="visibility: visible;">
                  <p><span>岗位管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10789" class="ax_default line">
                <img id="u10789_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u10790" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10791" class="ax_default label">
                <div id="u10791_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10792" class="text" style="visibility: visible;">
                  <p><span>权限管理</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10793" class="ax_default line">
                <img id="u10793_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u10794" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10795" class="ax_default label">
                <div id="u10795_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10796" class="text" style="visibility: visible;">
                  <p><span>工作流设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10797" class="ax_default line">
                <img id="u10797_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u10798" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10799" class="ax_default label">
                <div id="u10799_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10800" class="text" style="visibility: visible;">
                  <p><span>窗口期设置</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u10801" class="ax_default line">
                <img id="u10801_img" class="img " src="images/首页/u441.png"/>
                <!-- Unnamed () -->
                <div id="u10802" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u10803" class="ax_default label">
                <div id="u10803_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u10804" class="text" style="visibility: visible;">
                  <p><span>考核复查</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u10805" class="ax_default">

        <!-- Unnamed (表格) -->
        <div id="u10806" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u10807" class="ax_default table_cell">
            <img id="u10807_img" class="img " src="images/项目列表/u5704.png"/>
            <!-- Unnamed () -->
            <div id="u10808" class="text" style="visibility: visible;">
              <p><span>上一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u10809" class="ax_default table_cell">
            <img id="u10809_img" class="img " src="images/项目列表/u5706.png"/>
            <!-- Unnamed () -->
            <div id="u10810" class="text" style="visibility: visible;">
              <p><span>下一页</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u10811" class="ax_default table_cell">
            <img id="u10811_img" class="img " src="images/项目列表/u5708.png"/>
            <!-- Unnamed () -->
            <div id="u10812" class="text" style="visibility: visible;">
              <p><span>当前页：1/1</span></p>
            </div>
          </div>

          <!-- Unnamed (单元格) -->
          <div id="u10813" class="ax_default table_cell">
            <img id="u10813_img" class="img " src="images/项目列表/u5710.png"/>
            <!-- Unnamed () -->
            <div id="u10814" class="text" style="visibility: visible;">
              <p><span>跳转至</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u10815" class="ax_default text_field">
          <input id="u10815_input" type="text" value=""/>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u10816" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u10817" class="ax_default table_cell">
            <img id="u10817_img" class="img " src="images/项目列表/u5714.png"/>
            <!-- Unnamed () -->
            <div id="u10818" class="text" style="visibility: visible;">
              <p><span>页</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u10819" class="ax_default">

          <!-- Unnamed (单元格) -->
          <div id="u10820" class="ax_default table_cell">
            <img id="u10820_img" class="img " src="images/项目列表/u5717.png"/>
            <!-- Unnamed () -->
            <div id="u10821" class="text" style="visibility: visible;">
              <p><span>共有3条数据</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10822" class="ax_default _图片">
        <img id="u10822_img" class="img " src="images/首页/u6.jpg"/>
        <!-- Unnamed () -->
        <div id="u10823" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u10824" class="ax_default line">
        <img id="u10824_img" class="img " src="images/创建项目/u6248.png"/>
        <!-- Unnamed () -->
        <div id="u10825" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10826" class="ax_default label">
        <div id="u10826_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10827" class="text" style="visibility: visible;">
          <p><span>张思越</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10828" class="ax_default label">
        <div id="u10828_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10829" class="text" style="visibility: visible;">
          <p><span>退出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10830" class="ax_default box_1">
        <div id="u10830_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10831" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10832" class="ax_default _图片">
        <img id="u10832_img" class="img " src="images/计划列表/u7484.png"/>
        <!-- Unnamed () -->
        <div id="u10833" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10834" class="ax_default label">
        <div id="u10834_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10835" class="text" style="visibility: visible;">
          <p><span>计划类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u10836" class="ax_default droplist">
        <select id="u10836_input">
          <option selected value="-请选择-">-请选择-</option>
          <option value="一、二级节点计划">一、二级节点计划</option>
          <option value="总控计划">总控计划</option>
          <option value="专项计划">专项计划</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u10837" class="ax_default droplist">
        <select id="u10837_input">
          <option selected value="-请选择-">-请选择-</option>
          <option value="住宅">住宅</option>
          <option value="酒店">酒店</option>
          <option value="别墅">别墅</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10838" class="ax_default label">
        <div id="u10838_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10839" class="text" style="visibility: visible;">
          <p><span>计划名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10840" class="ax_default text_field">
        <input id="u10840_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10841" class="ax_default label">
        <div id="u10841_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10842" class="text" style="visibility: visible;">
          <p><span>项目名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10843" class="ax_default text_field">
        <input id="u10843_input" type="text" value=""/>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u10844" class="ax_default html_button">
        <input id="u10844_input" type="submit" value="查询"/>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u10845" class="ax_default line">
        <img id="u10845_img" class="img " src="images/首页/u334.png"/>
        <!-- Unnamed () -->
        <div id="u10846" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u10847" class="ax_default _图片">
        <img id="u10847_img" class="img " src="images/节点变更审批/u2195.png"/>
        <!-- Unnamed () -->
        <div id="u10848" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10849" class="ax_default label">
        <div id="u10849_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10850" class="text" style="visibility: visible;">
          <p><span>计划列表</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u10851" class="ax_default">

        <!-- Unnamed (单元格) -->
        <div id="u10852" class="ax_default table_cell">
          <img id="u10852_img" class="img " src="images/计划变更/u10852.png"/>
          <!-- Unnamed () -->
          <div id="u10853" class="text" style="visibility: visible;">
            <p><span>计划名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10854" class="ax_default table_cell">
          <img id="u10854_img" class="img " src="images/计划变更/u10852.png"/>
          <!-- Unnamed () -->
          <div id="u10855" class="text" style="visibility: visible;">
            <p><span>计划类型</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10856" class="ax_default table_cell">
          <img id="u10856_img" class="img " src="images/计划变更/u10852.png"/>
          <!-- Unnamed () -->
          <div id="u10857" class="text" style="visibility: visible;">
            <p><span>项目名称</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10858" class="ax_default table_cell">
          <img id="u10858_img" class="img " src="images/计划变更/u10852.png"/>
          <!-- Unnamed () -->
          <div id="u10859" class="text" style="visibility: visible;">
            <p><span>创建人</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10860" class="ax_default table_cell">
          <img id="u10860_img" class="img " src="images/计划变更/u10860.png"/>
          <!-- Unnamed () -->
          <div id="u10861" class="text" style="visibility: visible;">
            <p><span>设置</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10862" class="ax_default table_cell">
          <img id="u10862_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10863" class="text" style="visibility: visible;">
            <p><span>安吉一、二级节点计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10864" class="ax_default table_cell">
          <img id="u10864_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10865" class="text" style="visibility: visible;">
            <p><span>一、二级节点计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10866" class="ax_default table_cell">
          <img id="u10866_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10867" class="text" style="visibility: visible;">
            <p><span>安吉项目-A1-a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10868" class="ax_default table_cell">
          <img id="u10868_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10869" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10870" class="ax_default table_cell">
          <img id="u10870_img" class="img " src="images/计划变更/u10870.png"/>
          <!-- Unnamed () -->
          <div id="u10871" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10872" class="ax_default table_cell">
          <img id="u10872_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10873" class="text" style="visibility: visible;">
            <p><span>安吉总控计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10874" class="ax_default table_cell">
          <img id="u10874_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10875" class="text" style="visibility: visible;">
            <p><span>总控计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10876" class="ax_default table_cell">
          <img id="u10876_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10877" class="text" style="visibility: visible;">
            <p><span>安吉项目-A1-a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10878" class="ax_default table_cell">
          <img id="u10878_img" class="img " src="images/计划变更/u10862.png"/>
          <!-- Unnamed () -->
          <div id="u10879" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10880" class="ax_default table_cell">
          <img id="u10880_img" class="img " src="images/计划变更/u10870.png"/>
          <!-- Unnamed () -->
          <div id="u10881" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10882" class="ax_default table_cell">
          <img id="u10882_img" class="img " src="images/计划变更/u10882.png"/>
          <!-- Unnamed () -->
          <div id="u10883" class="text" style="visibility: visible;">
            <p><span>安吉专项计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10884" class="ax_default table_cell">
          <img id="u10884_img" class="img " src="images/计划变更/u10882.png"/>
          <!-- Unnamed () -->
          <div id="u10885" class="text" style="visibility: visible;">
            <p><span>专项计划</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10886" class="ax_default table_cell">
          <img id="u10886_img" class="img " src="images/计划变更/u10882.png"/>
          <!-- Unnamed () -->
          <div id="u10887" class="text" style="visibility: visible;">
            <p><span>安吉项目-A1-a1</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10888" class="ax_default table_cell">
          <img id="u10888_img" class="img " src="images/计划变更/u10882.png"/>
          <!-- Unnamed () -->
          <div id="u10889" class="text" style="visibility: visible;">
            <p><span>张思越</span></p>
          </div>
        </div>

        <!-- Unnamed (单元格) -->
        <div id="u10890" class="ax_default table_cell">
          <img id="u10890_img" class="img " src="images/计划变更/u10890.png"/>
          <!-- Unnamed () -->
          <div id="u10891" class="text" style="visibility: visible;">
            <p><span>历史版本</span></p>
          </div>
        </div>
      </div>

      <!-- 查看历史版本 (动态面板) -->
      <div id="u10892" class="ax_default ax_default_hidden" data-label="查看历史版本" style="display: none; visibility: hidden">
        <div id="u10892_state0" class="panel_state" data-label="State1">
          <div id="u10892_state0_content" class="panel_state_content">

            <!-- Unnamed (图片) -->
            <div id="u10893" class="ax_default _图片">
              <img id="u10893_img" class="img " src="images/计划变更/u10893.png"/>
              <!-- Unnamed () -->
              <div id="u10894" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10895" class="ax_default label">
              <div id="u10895_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10896" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10897" class="ax_default box_1">
              <div id="u10897_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10898" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10899" class="ax_default box_1">
              <div id="u10899_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10900" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10901" class="ax_default box_1">
              <div id="u10901_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10902" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10903" class="ax_default box_1">
              <div id="u10903_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10904" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u10905" class="ax_default box_1">
              <div id="u10905_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u10906" class="text" style="visibility: visible;">
                <p><span>张思越</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10907" class="ax_default label">
        <div id="u10907_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10908" class="text" style="visibility: visible;">
          <p><span>计划业态：</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
