body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:764px;
}
#u2944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:764px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:374px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  position:absolute;
  left:285px;
  top:6px;
  width:687px;
  height:20px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:2px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#599FBD;
}
#u2948 {
  position:absolute;
  left:297px;
  top:3px;
  width:327px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#599FBD;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2950 {
  position:absolute;
  left:269px;
  top:307px;
  width:43px;
  height:17px;
  font-size:11px;
  color:#666666;
}
#u2951 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  position:absolute;
  left:255px;
  top:580px;
  width:905px;
  height:170px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:77px;
  width:901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  position:absolute;
  left:712px;
  top:367px;
  width:448px;
  height:193px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:88px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
