body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1421px;
  height:762px;
}
#u2930 {
  position:absolute;
  left:0px;
  top:0px;
  width:1421px;
  height:762px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:373px;
  width:1417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:287px;
  top:0px;
  width:462px;
  height:28px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:6px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#599FBD;
}
#u2934 {
  position:absolute;
  left:297px;
  top:3px;
  width:263px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#599FBD;
}
#u2935 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2936 {
  position:absolute;
  left:269px;
  top:307px;
  width:43px;
  height:17px;
  font-size:11px;
  color:#666666;
}
#u2937 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2938 {
  position:absolute;
  left:260px;
  top:509px;
  width:900px;
  height:128px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:56px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2940 {
  position:absolute;
  left:711px;
  top:363px;
  width:441px;
  height:128px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:56px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u2942 {
  position:absolute;
  left:1124px;
  top:3px;
  width:28px;
  height:25px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
